@import "semantic.min.css";

@code-bg-color: #f8f8f9;
@code-box-shadow: 0 0 0 1px rgba(34, 36, 38, .22) inset, 0 0 0 0 transparent;

@border-radius: .28571429rem;

.pusher {
  > .ui.container {
    margin-top: 8em;
    margin-bottom: 3em;
  }
}

.logo {
  width:100px!important;
}

pre {
  > code {
    padding: 1em;
    background-color: @code-bg-color;
    box-shadow: @code-box-shadow;
    border-radius: @border-radius;
    margin: 1em 0;
    display: block;
  }
}

.badges {
  img {
    margin-right:1em;
  }
}

.toggle-menu {
  cursor: pointer;
}
