div.ui.sidebar.inverted.vertical.menu
    .header.item Topics
    a.item(href='/') Introduction
    a.item(href='/authentication') Authentication
    a.item Errors
div.ui.top.fixed.menu
    .icon.item.toggle-menu
        i.sidebar.icon
    .item
        img.logo(src='#{ relativeAssets }assets/rb_logo.svg')
    .header.item JavaScript SDK
    .right.menu
        a.ui.item(href='https://github.com/rebilly') Rebilly Open Source
        a.ui.item(href='https://rebilly.github.io/RebillyAPI/', target='_blank') Rebilly API Spec
