include _includes/_topicLink
div.ui.section.hidden.divider
.ui.secondary.large.menu
    if (previous !== undefined)
        .header.item Previous Topic
            .item
                +topicLink(pages[previous].location, pages[previous].label)
    if (next !== undefined)
        .right.menu
            .header.item Next Topic
            .item
                +topicLink(pages[next].location, pages[next].label)
