include ../_includes/_runkit
include ../_includes/_secondaryHeading

h1 Authentication
p To authenticate your API calls within the SDK you can use either your #[strong secret API key] or a #[strong JWT session token].

!= partial('../_topic_nav', {previous: 'introduction', next: 'authentication'})
