{
    "openapi": "3.0.3",
    "info": {
      "version": "2.1",
      "title": "Rebilly REST API",
      "contact": {
        "name": "Rebilly API Support",
        "url": "https://www.rebilly.com/contact/",
        "email": "integrations@rebilly.com"
      },
      "license": {
        "name": "Rebilly",
        "url": "https://www.rebilly.com/api-license/"
      },
      "termsOfService": "https://www.rebilly.com/terms-of-use/",
      "x-logo": {
        "url": "https://rebilly-core.redoc.ly/rb_apiLogo.svg",
        "backgroundColor": "#0033A0"
      },
      "description": "# Introduction\nThe Rebilly API is built on HTTP.  Our API is RESTful.  It has predictable\nresource URLs.  It returns HTTP response codes to indicate errors.  It also\naccepts and returns JSON in the HTTP body.  You can use your favorite\nHTTP/REST library for your programming language to use Rebilly's API, or\nyou can use one of our SDKs (currently available in [PHP](https://github.com/Rebilly/rebilly-php)\nand [Javascript](https://github.com/Rebilly/rebilly-js-sdk)).\n\nWe have other APIs that are also available.  Every action from our [app](https://app.rebilly.com)\nis supported by an API which is documented and available for use so that you\nmay automate any workflows necessary.  This document contains the most commonly\nintegrated resources.\n\n# Authentication\n\nWhen you sign up for an account, you are given your first secret API key.\nYou can generate additional API keys, and delete API keys (as you may\nneed to rotate your keys in the future). You authenticate to the\nRebilly API by providing your secret key in the request header.\n\nRebilly offers three forms of authentication:  secret key, publishable key, JSON Web Tokens, and public signature key.\n- [Secret API key](#section/Authentication/SecretApiKey): used for requests made\n  from the server side. Never share these keys. Keep them guarded and secure.\n- [Publishable API key](#section/Authentication/PublishableApiKey): used for \n  requests from the client side. For now can only be used to create \n  a [Payment Token](#operation/PostToken) and \n  a [File token](#operation/PostFile).\n- [JWT](#section/Authentication/JWT): short lifetime tokens that can be assigned a specific expiration time.\n\nNever share your secret keys. Keep them guarded and secure.\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n# Errors\nRebilly follow's the error response format proposed in [RFC 7807](https://tools.ietf.org/html/rfc7807) also known as Problem Details for HTTP APIs.  As with our normal API responses, your client must be prepared to gracefully handle additional members of the response.\n\n## Forbidden\n<RedocResponse pointer={\"#/components/responses/Forbidden\"} />\n\n## Conflict\n<RedocResponse pointer={\"#/components/responses/Conflict\"} />\n\n## NotFound\n<RedocResponse pointer={\"#/components/responses/NotFound\"} />\n\n## Unauthorized\n<RedocResponse pointer={\"#/components/responses/Unauthorized\"} />\n\n## ValidationError\n<RedocResponse pointer={\"#/components/responses/ValidationError\"} />\n\n# SDKs\n\nRebilly offers a Javascript SDK and a PHP SDK to help interact with\nthe API.  However, no SDK is required to use the API.\n\nRebilly also offers [FramePay](https://docs.rebilly.com/docs/developer-docs/framepay/),\n a client-side iFrame-based solution to help\ncreate payment tokens while minimizing PCI DSS compliance burdens\nand maximizing the customizability. [FramePay](https://docs.rebilly.com/docs/developer-docs/framepay/)\nis interacting with the [payment tokens creation operation](#operation/PostToken).\n\n## Javascript SDK\n\nInstallation and usage instructions can be found [here](https://docs.rebilly.com/docs/developer-docs/sdks).\nSDK code examples are included in these docs.\n\n## PHP SDK\nFor all PHP SDK examples provided in these docs you will need to configure the `$client`.\nYou may do it like this:\n\n```php\n$client = new Rebilly\\Client([\n    'apiKey' => 'YourApiKeyHere',\n    'baseUrl' => 'https://api.rebilly.com',\n]);\n```\n\n# Using filter with collections\nRebilly provides collections filtering. You can use `?filter` param on collection to define which records should be shown in the response.\n\nHere is filter format description:\n\n- Fields and values in filter are separated with `:`: `?filter=firstName:John`.\n\n- Fields in filter are separated with `;`: `?filter=firstName:John;lastName:Doe`.\n\n- You can use multiple values using `,` as values separator: `?filter=firstName:John,Bob`.\n\n- To negate the filter use `!`: `?filter=firstName:!John`. Note that you can negate multiple values like this: `?filter=firstName:!John,Bob`. This filter rule will exclude all Johns and Bobs from the response.\n\n- You can use range filters like this: `?filter=amount:1..10`.\n\n- You can use gte (greater than or equals) filter like this: `?filter=amount:1..`, or lte (less than or equals) than filter like this: `?filter=amount:..10`.\n\n- You can create some [predefined values lists](https://user-api-docs.rebilly.com/#tag/Lists) and use them in filter: `?filter=firstName:@yourListName`. You can also exclude list values: `?filter=firstName:!@yourListName`\n\n# Expand to include embedded objects\nRebilly provides the ability to pre-load additional \nobjects with a request. \n\nYou can use `?expand` param on most requests to expand\nand include embedded objects within the\n`_embedded` property of the response.\n\nThe `_embedded` property contains an array of \nobjects keyed by the expand parameter value(s).\n\nYou may expand multiple objects by passing them\nas comma-separated to the expand value like so:\n\n```\n?expand=recentInvoice,customer\n```\n\nAnd in the response, you would see:\n\n```\n\"_embedded\": [\n    \"recentInvoice\": {...},\n    \"customer\": {...}\n]\n```\nExpand may be utilitized not only on `GET` requests but also on `PATCH`, `POST`, `PUT` requests too.\n\n\n# Getting started guide\n\nRebilly's API has over 300 operations.  That's more than you'll \nneed to implement your use cases.  If you have a use \ncase you would like to implement, please consult us for\nfeedback on the best API operations for the task.\n\nOur getting started guide will demonstrate a basic order form use\ncase.  It will allow us to highlight core resources\nin Rebilly that will be helpful for many other use cases\ntoo.\n\nWithin 25 minutes, you'll have sent API requests (via our console)\nto create a subscription order.\n\n[Click here to visit our API Guide Tutorial](https://api-guides.rebilly.com/).\n"
    },
    "servers": [
      {
        "url": "https://api-sandbox.rebilly.com",
        "description": "Sandbox Server."
      },
      {
        "url": "https://api.rebilly.com",
        "description": "Live Server."
      }
    ],
    "tags": [
      {
        "name": "3D Secure",
        "description": "3D Secure is a way to authenticate and protect transactions.  Typically,\nit's only possible to protect the initial transaction in an order\nwith 3D Secure.\n"
      },
      {
        "name": "AML",
        "description": "AML, also known as Anti-Money-Laundering is an endpoint that searches multiple\nPEP, Sanctions, and Adverse Media lists for listed identities or media for screening\npurposes. Used during some transaction processing and on Contact creation, it helps\ndetermine whether someone is blocklisted or has political or economic sanctions against\nthem.\n"
      },
      {
        "name": "Bank Accounts",
        "description": "Bank Accounts are a type of payment instrument used to collect\nACH (echeck) payments, similar to how a payment\ncard would be used to for a credit card payment.\n"
      },
      {
        "name": "Blocklists",
        "description": "Your blocklists contains values of customerIds, email addresses,\nipAddresses, bank identification numbers, countries or payment cards that\nyou do NOT want to do business with. They are a good tool for managing\nrisk. A blocklist entry that expires after a period of time we call a\ngreylist.\n"
      },
      {
        "name": "Coupons",
        "description": "Coupons allows to apply different types of discounts to Invoices, Orders and Plans. Redeemed Coupons will be applied only to Invoices with the same currency.\n"
      },
      {
        "name": "Customers",
        "description": "Customers are your customers, sometimes known as accounts, clients,\nmembers, patrons, or players in other systems.\n"
      },
      {
        "name": "Customers Timeline",
        "description": "The customers timeline keeps an audit trail of changes and activity for each customer.\n"
      },
      {
        "name": "KYC Documents",
        "description": "Customer KYC files uploaded on behalf of a customer, tagged with a document type and submitted for validation.\n"
      },
      {
        "name": "Customer Authentication",
        "description": "Create authentication credentials, login, logout, and verify your customers.\n"
      },
      {
        "name": "Custom Fields",
        "description": "Create additional custom fields for particular resources.  You may name,\ndescribe, and determine the type of the schema.\n"
      },
      {
        "name": "Disputes",
        "description": "Handle disputes (chargebacks and retrievals).\n"
      },
      {
        "name": "Files",
        "description": "A File is an entity that can store a physical file and some metadata. It also provides an easy access to\nits size, mime-type, user-defined tags and description thus allowing easy sorting and searching among stored\nfiles.\nThere are several methods of file uploading available: multipart/form-data encoded form, RAW POST (by sending\nfile contents as POST body), fetching from URL (by providing the file URL via 'url' param)\nAttachment is an entity that is used to link a File to one or multiple objects like Customer, Dispute, Payment,\nTransaction, Order, Plan, Product, Invoice, Note. That allows to quickly find and use files related to\nthose specific entities.\n"
      },
      {
        "name": "Invoices",
        "description": "Invoices leave a record for both you and your customer of the products sold.\n"
      },
      {
        "name": "Payment Instruments",
        "description": "The Payment Instrument allows you to accept a variety of payment methods through a single API.\n"
      },
      {
        "name": "Payment Cards",
        "description": "Payment cards are a type of payment instrument used for credit and debit card\nsales.  Rebilly securely vaults the full payment card number, and can pass it\nonward securely to any gateway account to transact business.\n"
      },
      {
        "name": "PayPal Accounts",
        "description": "PayPal Accounts are used for paying with PayPal.  We can generate a BAID (billing\nagreement id) which will allow for recurring billing.\n"
      },
      {
        "name": "Payment Tokens",
        "description": "Payment tokens are used to reduce the scope of PCI DSS compliance.  A payment\ntoken can be made using a different authentication scheme (refer to the public key\nauthentication scheme in the Authentication section), which allows you to\ncreate a payment token directly from the browser, bypassing the need to send\nsensitive cardholder info to your servers.  We recommend using this with our\nRebilly.js library, which helps you wire a form into this API resource and create\npayment tokens.\n"
      },
      {
        "name": "Plans",
        "description": "Plans are a template for making a subscription.  For example, you may have a plan\nthat has a 30-day free trial followed by a recurring charge of $19.95 per month\nuntil canceled.  The combination of the plan and a request to make an order\nwill apply those instructions to create the invoices according to the plan's\nschedule.\n"
      },
      {
        "name": "Products",
        "description": "A product describes what you sell (goods or services).\nA product determines how what you sell appears on invoices and receipts.\nThe pricing for products is set in Plans.  One product can have many\nplans.\n"
      },
      {
        "name": "Reports",
        "description": "The Rebilly Reporting API is currently experimental. You may see\nthe [Reports API Documentation here](https://reports-api-docs.rebilly.com).\n"
      },
      {
        "name": "Search",
        "description": "Search data including customers, invoices, orders, transactions and more.\n"
      },
      {
        "name": "Shipping Zones",
        "description": "A shipping zone contains regions and countries that you ship to. Each shipping zone has its own shipping rates.\n"
      },
      {
        "name": "Orders",
        "description": "An order applies a plan's template to create invoice(s) for a customer, optionally at the appropriate scheduled intervals. A subscription order may also determine if the payment is collected automatically (with autopay set true).\n"
      },
      {
        "name": "Tags",
        "description": "Tag customers to better organize your data.\n"
      },
      {
        "name": "Taxes",
        "description": "You can map a product to a tax category.  The tax category is used by\ntax providers to calculate taxes for invoices.\n"
      },
      {
        "name": "Transactions",
        "description": "Get and refund transactions.\n"
      },
      {
        "name": "Users",
        "description": "The Rebilly User API is primarily for our GUI apps.  You may see\nthe [User API Documentation here](https://user-api-docs.rebilly.com).\nA User represents a person who can login to Rebilly, and take actions subject to\ntheir granted permissions.  It has resources less commonly integrated by\n3rd parties.\n"
      }
    ],
    "x-tagGroups": [
      {
        "name": "Customers",
        "tags": [
          "Customers",
          "Customer Authentication",
          "KYC Documents",
          "AML",
          "Tags",
          "Customers Timeline"
        ]
      },
      {
        "name": "Payment Instruments",
        "tags": [
          "Payment Instruments",
          "Payment Tokens",
          "Payment Cards",
          "Bank Accounts",
          "PayPal Accounts"
        ]
      },
      {
        "name": "Payments",
        "tags": [
          "Transactions",
          "3D Secure",
          "Disputes",
          "Blocklists"
        ]
      },
      {
        "name": "Orders & Invoices",
        "tags": [
          "Orders",
          "Invoices",
          "Plans",
          "Products",
          "Coupons",
          "Shipping Zones",
          "Taxes"
        ]
      },
      {
        "name": "Misc",
        "tags": [
          "Custom Fields",
          "Files",
          "Reports",
          "Search",
          "Users"
        ]
      }
    ],
    "security": [
      {
        "SecretApiKey": []
      },
      {
        "JWT": []
      }
    ],
    "paths": {
      "/3dsecure": {
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "3D Secure"
          ],
          "summary": "Retrieve a list of ThreeDSecure entries",
          "operationId": "Get3DSecureCollection",
          "parameters": [
            {
              "$ref": "#/components/parameters/collectionLimit"
            },
            {
              "$ref": "#/components/parameters/collectionOffset"
            }
          ],
          "responses": {
            "200": {
              "description": "A list was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                },
                "Pagination-Total": {
                  "$ref": "#/components/headers/Pagination-Total"
                },
                "Pagination-Limit": {
                  "$ref": "#/components/headers/Pagination-Limit"
                },
                "Pagination-Offset": {
                  "$ref": "#/components/headers/Pagination-Offset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ThreeDSecure"
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            }
          },
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "// all parameters are optional\nconst firstCollection = await api.threeDSecure.getAll();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100}; \nconst secondCollection = await api.threeDSecure.getAll(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(entry => console.log(entry.fields.customerId));"
            }
          ]
        },
        "post": {
          "tags": [
            "3D Secure"
          ],
          "summary": "Create a ThreeDSecure entry",
          "operationId": "Post3DSecure",
          "description": "Create a ThreeDSecure entry.\n",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreeDSecure"
                }
              }
            },
            "description": "ThreeDSecure resource.",
            "required": true
          },
          "responses": {
            "201": {
              "description": "ThreeDSecure entry was created.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ThreeDSecure"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "// first set the properties for the new entry\nconst data = {\n    customerId: 'foobar-001',\n    websiteId: 'my-website-id',\n    paymentCardId: 'a-certain-card-id',\n    gatewayAccountId: 'main-gateway-id',\n    enrolled: 'Y',\n    // enrollment electronic \n    // commerce indicator\n    enrollmentEci: 'abc',\n    // electronic commerce indicator\n    eci: 0,\n    // cardholder authentication verification value\n    cavv: '1234',\n    // transaction Id\n    xid: 'er9349gju09u40394guj',\n    payerAuthResponseStatus: 'Y',\n    signatureVerification: 'Y',\n    amount: 12.99,\n    currency: 'USD'\n};\n\nconst entry = await api.threeDSecure.create({data});"
            }
          ]
        }
      },
      "/3dsecure/{id}": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "3D Secure"
          ],
          "summary": "Retrieve a ThreeDSecure entry",
          "operationId": "Get3DSecure",
          "description": "Retrieve a ThreeDSecure entry with specified identifier string.\n",
          "responses": {
            "200": {
              "description": "ThreeDSecure entry was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ThreeDSecure"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          },
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "const entry = await api.threeDSecure.get({id: 'foobar-001'});\nconsole.log(entry.fields.customerId);"
            }
          ]
        }
      },
      "/aml": {
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "AML"
          ],
          "summary": "Search PEP/Sanctions/Adverse Media lists",
          "operationId": "GetAmlEntry",
          "description": "Search multiple PEP/Sanctions/Adverse Media lists with first and last name to find any blocklisted identities.\nPerforms a fuzzy search including soundex. Not all fields are guaranteed to be filled.\n",
          "parameters": [
            {
              "$ref": "#/components/parameters/organizationId"
            },
            {
              "name": "firstName",
              "in": "query",
              "description": "First name of individual to search."
            },
            {
              "name": "lastName",
              "in": "query",
              "description": "Last name of individual to search."
            },
            {
              "name": "dob",
              "in": "query",
              "required": false,
              "description": "Date of birth in format YYYY-MM-DD."
            },
            {
              "name": "country",
              "in": "query",
              "required": false,
              "description": "Country of individual as an ISO Alpha-2 code."
            }
          ],
          "responses": {
            "200": {
              "description": "An array of objects representing hits, or an empty array if none are found.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                },
                "Pagination-Total": {
                  "$ref": "#/components/headers/Pagination-Total"
                },
                "Pagination-Limit": {
                  "$ref": "#/components/headers/Pagination-Limit"
                },
                "Pagination-Offset": {
                  "$ref": "#/components/headers/Pagination-Offset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AML"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/attachments": {
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Files"
          ],
          "summary": "Retrieve a list of Attachments",
          "operationId": "GetAttachmentCollection",
          "description": "Retrieve a list of attachments.\nYou may sort by the id, name, relatedId, relatedType, fileId, createdTime, and updatedTime.\n",
          "parameters": [
            {
              "$ref": "#/components/parameters/collectionLimit"
            },
            {
              "$ref": "#/components/parameters/collectionOffset"
            },
            {
              "$ref": "#/components/parameters/collectionFilter"
            },
            {
              "$ref": "#/components/parameters/collectionQuery"
            },
            {
              "$ref": "#/components/parameters/collectionExpand"
            },
            {
              "$ref": "#/components/parameters/collectionFields"
            },
            {
              "$ref": "#/components/parameters/collectionSort"
            }
          ],
          "responses": {
            "200": {
              "description": "A list of Attachments was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                },
                "Pagination-Total": {
                  "$ref": "#/components/headers/Pagination-Total"
                },
                "Pagination-Limit": {
                  "$ref": "#/components/headers/Pagination-Limit"
                },
                "Pagination-Offset": {
                  "$ref": "#/components/headers/Pagination-Offset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Attachment"
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$attachments = $client->attachments()->search([\n    'filter' => 'relatedType:customer',\n]);\n"
            },
            {
              "lang": "JavaScript",
              "source": "// all parameters are optional\nconst firstCollection = await api.files.getAllAttachments();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100, sort: '-createdTime'}; \nconst secondCollection = await api.files.getAllAttachments(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(attachment => console.log(attachment.fields.relatedType));"
            }
          ]
        },
        "post": {
          "tags": [
            "Files"
          ],
          "summary": "Create an Attachment",
          "operationId": "PostAttachment",
          "description": "Create an Attachment.\n",
          "requestBody": {
            "$ref": "#/components/requestBodies/Attachment"
          },
          "responses": {
            "201": {
              "description": "Attachment was created.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "409": {
              "$ref": "#/components/responses/Conflict"
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$attachmentForm = new Rebilly\\Entities\\Attachment();\n$attachmentForm->setFileId('fileId');\n$attachmentForm->setRelatedType($attachmentForm::TYPE_CUSTOMER);\n$attachmentForm->setRelatedId('customerId');\n\ntry {\n    $attachment = $client->attachments()->create($attachmentForm);\n} catch (UnprocessableEntityException $e) {\n    echo $e->getMessage();\n}\n"
            },
            {
              "lang": "JavaScript",
              "source": "// define the attachment\nconst data = {\n    // previously uploaded file ID\n    fileId: 'my-file-id',\n    relatedType: 'customer',\n    relatedId: 'my-customer-id',\n    name: 'an attachment',\n    description: `the customer's file`\n};\n\nconst attachment = await api.files.attach({data});\nconsole.log(attachment.fields.id);"
            }
          ]
        }
      },
      "/attachments/{id}": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Files"
          ],
          "summary": "Retrieve an Attachment",
          "operationId": "GetAttachment",
          "description": "Retrieve a Attachment with specified identifier string.\n",
          "responses": {
            "200": {
              "description": "Attachment was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$attachment = $client->attachments()->load('attachmentId');\n"
            },
            {
              "lang": "JavaScript",
              "source": "const attachment = await api.files.getAttachment({id: 'foobar-001'});\nconsole.log(attachment.fields.relatedType);"
            }
          ]
        },
        "put": {
          "tags": [
            "Files"
          ],
          "summary": "Update the Attachment with predefined ID",
          "operationId": "PutAttachment",
          "description": "Update the Attachment with predefined ID.\n",
          "requestBody": {
            "$ref": "#/components/requestBodies/Attachment"
          },
          "responses": {
            "200": {
              "description": "Attachment was updated.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            },
            "201": {
              "description": "Attachment was created.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "409": {
              "$ref": "#/components/responses/Conflict"
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$attachmentForm = new Rebilly\\Entities\\Attachment();\n$attachmentForm->setFileId('fileId');\n$attachmentForm->setRelatedType($attachmentForm::TYPE_CUSTOMER);\n$attachmentForm->setRelatedId('customerId');\n\ntry {\n    $attachment = $client->attachments()->update('attachmentId', $attachmentForm);\n} catch (UnprocessableEntityException $e) {\n    echo $e->getMessage();\n}\n"
            },
            {
              "lang": "JavaScript",
              "source": "// define the values to update\nconst data = {\n    relatedType: 'customer',\n    relatedId: 'my-customer-id',\n    name: 'an attachment',\n    description: `the customer's file`\n};\n\nconst attachment = await api.files.updateAttachment({id: 'foobar-001', data});"
            }
          ]
        },
        "delete": {
          "tags": [
            "Files"
          ],
          "summary": "Delete an Attachment",
          "operationId": "DeleteAttachment",
          "description": "Delete the Attachment with predefined identifier string.\n",
          "responses": {
            "204": {
              "description": "Attachment was deleted.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$client->attachments()->delete('attachmentId');\n"
            },
            {
              "lang": "JavaScript",
              "source": "const request = await api.files.detach({id: 'my-attachment-id'});\n\n// the request does not return any fields but\n// you can confirm the success using the status code\nconsole.log(request.response.status); // 204"
            }
          ]
        }
      },
      "/authentication-options": {
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Customer Authentication"
          ],
          "summary": "Read current authentication options",
          "operationId": "GetAuthenticationOption",
          "description": "Read current authentication options.\n",
          "responses": {
            "200": {
              "description": "Current authentication options was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AuthenticationOptions"
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$authenticationOptions = $client->authenticationOptions()->load();\n"
            },
            {
              "lang": "JavaScript",
              "source": "const options = await api.customerAuthentication.getAuthOptions();\nconsole.log(options.fields.credentialTtl);"
            }
          ]
        },
        "put": {
          "tags": [
            "Customer Authentication"
          ],
          "summary": "Change authentication options",
          "operationId": "PutAuthenticationOption",
          "description": "Change options.\n",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationOptions"
                }
              }
            },
            "description": "Authentication Options resource.",
            "required": true
          },
          "responses": {
            "200": {
              "description": "Authentication Options were updated.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AuthenticationOptions"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$authenticationOptionsForm = new Rebilly\\Entities\\AuthenticationOptions();\n// Regular expression below matches any password with 6+ length that contains alphabet symbols and/or numbers.\n$authenticationOptionsForm->setPasswordPattern('/^[a-zA-Z0-9]{6,}$/');\n\ntry {\n    $authenticationOptions = $client->authenticationOptions()->update($authenticationOptionsForm);\n} catch (UnprocessableEntityException $e) {\n    echo $e->getMessage();\n}\n"
            },
            {
              "lang": "JavaScript",
              "source": "// first set the properties for the authentication options\nconst data = {\n    passwordPattern: null,\n    credentialTtl: 10,\n    authTokenTtl: 20,\n    resetTokenTtl: 30\n};\n\nconst options = await api.customerAuthentication.updateAuthOptions({data});\nconsole.log(options.fields.credentialTtl);"
            }
          ]
        }
      },
      "/authentication-tokens": {
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Customer Authentication"
          ],
          "summary": "Retrieve a list of auth tokens",
          "operationId": "GetAuthenticationTokenCollection",
          "description": "Retrieve a list of auth tokens.\n",
          "parameters": [
            {
              "$ref": "#/components/parameters/collectionLimit"
            },
            {
              "$ref": "#/components/parameters/collectionOffset"
            }
          ],
          "responses": {
            "200": {
              "description": "A list of auth tokens was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                },
                "Pagination-Total": {
                  "$ref": "#/components/headers/Pagination-Total"
                },
                "Pagination-Limit": {
                  "$ref": "#/components/headers/Pagination-Limit"
                },
                "Pagination-Offset": {
                  "$ref": "#/components/headers/Pagination-Offset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AuthenticationToken"
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$authenticationTokens = $client->authenticationTokens()->search([\n    'filter' => 'customerId:testCustomer',\n]);\n"
            },
            {
              "lang": "JavaScript",
              "source": "// all parameters are optional\nconst firstCollection = await api.customerAuthentication.getAllAuthTokens();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100}; \nconst secondCollection = await api.customerAuthentication.getAllAuthTokens(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(token => console.log(token.fields.username));"
            }
          ]
        },
        "post": {
          "tags": [
            "Customer Authentication"
          ],
          "summary": "Login",
          "operationId": "PostAuthenticationToken",
          "description": "Login a customer.\n",
          "security": [
            {
              "SecretApiKey": []
            },
            {
              "JWT": []
            },
            {
              "PublishableApiKey": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationToken"
                }
              }
            },
            "description": "AuthenticationToken resource.",
            "required": true
          },
          "responses": {
            "201": {
              "description": "Login successful.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AuthenticationToken"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$authenticationForm = new Rebilly\\Entities\\AuthenticationToken();\n$authenticationForm->setUsername('username');\n$authenticationForm->setPassword('test123');\n\ntry {\n    $authenticationToken = $client->authenticationTokens()->login($authenticationForm);\n} catch (UnprocessableEntityException $e) {\n    echo $e->getMessage();\n}\n"
            },
            {
              "lang": "JavaScript",
              "source": "const data = {\n    username: 'foobar',\n    password: 'fuubar'\n\n    // optionally you can define an `expiredTime` to \n    // limit the duration of the session token\n\n    //expiredTime: '2017-09-18T19:17:39Z'\n};\nconst session = await api.customerAuthentication.login({data});\nconsole.log(session.fields.token);"
            }
          ]
        }
      },
      "/authentication-tokens/{token}": {
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "The token identifier string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Customer Authentication"
          ],
          "summary": "Verify",
          "operationId": "GetAuthenticationTokenVerification",
          "description": "Verify an authentication token.\n",
          "security": [
            {
              "SecretApiKey": []
            },
            {
              "JWT": []
            },
            {
              "PublishableApiKey": []
            }
          ],
          "responses": {
            "200": {
              "description": "Authentication Token was verified.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AuthenticationToken"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$isVerified = $client->authenticationTokens()->verify('token');\n"
            },
            {
              "lang": "JavaScript",
              "source": "const token = 'dcf6e32f2daee457a1db8ce5fdfbe200';\nconst verification = await api.customerAuthentication.verify({token});\n// if the the token is valid then no error will be thrown\nconsole.log(verification.reponse.status) // 200"
            }
          ]
        },
        "delete": {
          "tags": [
            "Customer Authentication"
          ],
          "summary": "Logout a customer",
          "operationId": "DeleteAuthenticationToken",
          "description": "Logout a customer.\n",
          "security": [
            {
              "SecretApiKey": []
            },
            {
              "JWT": []
            },
            {
              "PublishableApiKey": []
            }
          ],
          "responses": {
            "204": {
              "description": "Customer was logged out.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$client->authenticationTokens()->logout('token');\n"
            },
            {
              "lang": "JavaScript",
              "source": "const token = 'dcf6e32f2daee457a1db8ce5fdfbe200';\nconst request = await api.customerAuthentication.logout({token});\n\n// the request does not return any fields but\n// you can confirm the success using the status code\nconsole.log(request.response.status); // 204"
            }
          ]
        }
      },
      "/authentication-tokens/{token}/exchange": {
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "The token identifier string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "post": {
          "tags": [
            "Customer Authentication"
          ],
          "summary": "Exchange",
          "operationId": "PostAuthenticationTokenExchange",
          "description": "Exchange Authentication Token for JWT.\n\nIt will also invalidate an Authentication Token by default (so it can only be exchanged once).\n",
          "security": [
            {
              "SecretApiKey": []
            },
            {
              "JWT": []
            },
            {
              "PublishableApiKey": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerJWT"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "Authentication Token exchanged for JWT.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CustomerJWT"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          }
        }
      },
      "/bank-accounts": {
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "post": {
          "tags": [
            "Bank Accounts"
          ],
          "summary": "Create a Bank Account",
          "operationId": "PostBankAccount",
          "description": "Create a Bank Account.\n",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BankAccountCreateToken"
                    },
                    {
                      "$ref": "#/components/schemas/BankAccountCreatePlain"
                    }
                  ]
                }
              }
            },
            "description": "BankAccount resource.",
            "required": true
          },
          "responses": {
            "201": {
              "description": "Bank Account was created.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$bankAccountForm = new Rebilly\\Entities\\BankAccount();\n$bankAccountForm->setCustomerId('customerId');\n$bankAccountForm->setRoutingNumber('0123456');\n$bankAccountForm->setAccountNumber('0123456');\n$bankAccountForm->setAccountType('checking');\n$bankAccountForm->setBillingAddress([\n    'firstName' => 'John',\n    'lastName' => 'Doe',\n    'organization' => 'Test LTD',\n    'address' => 'Test street 5',\n    'address2' => 'Test house 5',\n    'city' => 'New York',\n    'region' => 'Long Island',\n    'country' => 'US',\n    'postalCode' => '123456',\n    'emails' => [\n        [\n            'label' => 'main',\n            'value' => 'johndoe@testemail.com',\n            'primary' => true,\n        ],\n        [\n            'label' => 'secondary',\n            'value' => 'otheremail@testemail.com',\n        ],\n    ],\n    'phoneNumbers' => [\n        [\n            'label' => 'work',\n            'value' => '+123456789',\n            'primary' => true,\n        ],\n        [\n            'label' => 'home',\n            'value' => '+9874654321',\n        ],\n    ],\n]);\n\ntry {\n    $bankAccount = $client->bankAccounts()->create($bankAccountForm);\n} catch (UnprocessableEntityException $e) {\n    echo $e->getMessage();\n}\n"
            },
            {
              "lang": "JavaScript",
              "source": "// first set the required properties for the new bank account\nconst data = {\n    bankName: 'My Fake Financial',\n    routingNumber: '12345678',\n    accountNumber: '12345678',\n    accountType: 'checking',\n    customerId: 'acme-001'\n};\n\n// the ID is optional\nconst firstKey = await api.bankAccounts.create({data});\n\n// or you can provide one\nconst secondKey = await api.bankAccounts.create({id: 'my-second-id', data});"
            }
          ]
        },
        "get": {
          "tags": [
            "Bank Accounts"
          ],
          "summary": "Retrieve a list of bank accounts",
          "operationId": "GetBankAccountCollection",
          "description": "Retrieve a list of Bank Accounts.\n",
          "parameters": [
            {
              "$ref": "#/components/parameters/collectionLimit"
            },
            {
              "$ref": "#/components/parameters/collectionOffset"
            }
          ],
          "responses": {
            "200": {
              "description": "A list of Bank Accounts was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                },
                "Pagination-Total": {
                  "$ref": "#/components/headers/Pagination-Total"
                },
                "Pagination-Limit": {
                  "$ref": "#/components/headers/Pagination-Limit"
                },
                "Pagination-Offset": {
                  "$ref": "#/components/headers/Pagination-Offset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BankAccount"
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$bankAccounts = $client->bankAccounts()->search([\n    'filter' => 'customerId:testId',\n]);\n"
            },
            {
              "lang": "JavaScript",
              "source": "// all parameters are optional\nconst firstCollection = await api.bankAccounts.getAll();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100, sort: '-createdTime'}; \nconst secondCollection = await api.bankAccounts.getAll(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(bankAccount => console.log(bankAccount.fields.status));"
            }
          ]
        }
      },
      "/bank-accounts/{id}": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Bank Accounts"
          ],
          "summary": "Retrieve a Bank Account",
          "operationId": "GetBankAccount",
          "description": "Retrieve a Bank Account with specified identifier string.\n",
          "responses": {
            "200": {
              "description": "Bank Account was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$bankAccount = $client->bankAccounts()->load('bankAccountId');\n"
            },
            {
              "lang": "JavaScript",
              "source": "const bankAccount = await api.bankAccounts.get({id: 'foobar-001'});\nconsole.log(bankAccount.fields.status);"
            }
          ]
        },
        "patch": {
          "tags": [
            "Bank Accounts"
          ],
          "summary": "Update a bank account's values",
          "operationId": "PatchBankAccount",
          "description": "Update bank account's values except for the account number and routing. number.\n",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountUpdatePlain"
                }
              }
            },
            "description": "Bank Account."
          },
          "responses": {
            "200": {
              "description": "Bank Account was updated.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "// properties to be updated\nconst data = {\n    bankName: 'Your Fake Financial',\n    accountType: 'savings',\n    billingAddress: {\n        firstName: 'John'\n    }\n};\n\napi.bankAccounts.patch({id: 'id-to-update', data});\n"
            }
          ]
        },
        "put": {
          "tags": [
            "Bank Accounts"
          ],
          "summary": "Create a Bank Account with predefined ID",
          "operationId": "PutBankAccount",
          "description": "Create or update a BankAccount with predefined identifier string.\n",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BankAccountCreateToken"
                    },
                    {
                      "$ref": "#/components/schemas/BankAccountCreatePlain"
                    }
                  ]
                }
              }
            },
            "description": "BankAccount resource.",
            "required": true
          },
          "responses": {
            "200": {
              "description": "BankAccount was updated.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            },
            "201": {
              "description": "BankAccount was created.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$bankAccountForm = new Rebilly\\Entities\\BankAccount();\n$bankAccountForm->setCustomerId('customerId');\n$bankAccountForm->setRoutingNumber('0123456');\n$bankAccountForm->setAccountNumber('0123456');\n$bankAccountForm->setAccountType('checking');\n$bankAccountForm->setBillingAddress([\n    'firstName' => 'John',\n    'lastName' => 'Doe',\n    'organization' => 'Test LTD',\n    'address' => 'Test street 5',\n    'address2' => 'Test house 5',\n    'city' => 'New York',\n    'region' => 'Long Island',\n    'country' => 'US',\n    'postalCode' => '123456',\n    'emails' => [\n        [\n            'label' => 'main',\n            'value' => 'johndoe@testemail.com',\n            'primary' => true,\n        ],\n        [\n            'label' => 'secondary',\n            'value' => 'otheremail@testemail.com',\n        ],\n    ],\n    'phoneNumbers' => [\n        [\n            'label' => 'work',\n            'value' => '+123456789',\n            'primary' => true,\n        ],\n        [\n            'label' => 'home',\n            'value' => '+9874654321',\n        ],\n    ],\n]);\n\ntry {\n    $bankAccount = $client->customers()->create($bankAccountForm, 'bankAccountId');\n} catch (UnprocessableEntityException $e) {\n    echo $e->getMessage();\n}\n"
            },
            {
              "lang": "JavaScript",
              "source": "// first set the required properties for the new bank account\nconst data = {\n    bankName: 'My Fake Financial',\n    routingNumber: '12345678',\n    accountNumber: '12345678',\n    accountType: 'checking',\n    customerId: 'acme-001'\n};\n\n// the ID is optional\nconst firstKey = await api.bankAccounts.create({data});\n\n// or you can provide one\nconst secondKey = await api.bankAccounts.create({id: 'my-second-id', data});"
            }
          ]
        }
      },
      "/bank-accounts/{id}/deactivation": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "post": {
          "tags": [
            "Bank Accounts"
          ],
          "summary": "Deactivate a Bank Account",
          "operationId": "PostBankAccountDeactivation",
          "description": "Deactivate a Bank Account.\n",
          "responses": {
            "201": {
              "description": "Bank Account was deactivated.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "409": {
              "$ref": "#/components/responses/Conflict"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$bankAccount = $client->bankAccounts()->deactivate('bankAccountId');\n"
            },
            {
              "lang": "JavaScript",
              "source": "const bankAccount = await api.bankAccounts.deactivate({id: 'id-to-deactivate'});\n\n// the bank account status will be updated to reflect the modification\nconsole.log(bankAccount.fields.status);"
            }
          ]
        }
      },
      "/blocklists": {
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Blocklists"
          ],
          "summary": "Retrieve a list of blocklists",
          "operationId": "GetBlocklistCollection",
          "description": "Retrieve a list of blocklists.\n",
          "parameters": [
            {
              "$ref": "#/components/parameters/collectionLimit"
            },
            {
              "$ref": "#/components/parameters/collectionOffset"
            },
            {
              "$ref": "#/components/parameters/collectionSort"
            },
            {
              "$ref": "#/components/parameters/collectionFilter"
            },
            {
              "$ref": "#/components/parameters/collectionQuery"
            }
          ],
          "responses": {
            "200": {
              "description": "A list of Blocklists was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                },
                "Pagination-Total": {
                  "$ref": "#/components/headers/Pagination-Total"
                },
                "Pagination-Limit": {
                  "$ref": "#/components/headers/Pagination-Limit"
                },
                "Pagination-Offset": {
                  "$ref": "#/components/headers/Pagination-Offset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Blocklist"
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$blocklists = $client->blocklists()->search([\n    'filter' => 'value:testValue',\n]);\n"
            },
            {
              "lang": "JavaScript",
              "source": "// all parameters are optional\nconst firstCollection = await api.blocklists.getAll();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100, sort: '-createdTime'};\nconst secondCollection = await api.blocklists.getAll(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(blocklistItem => console.log(blocklistItem.fields.status));\n"
            }
          ]
        },
        "post": {
          "tags": [
            "Blocklists"
          ],
          "summary": "Create a blocklist",
          "operationId": "PostBlocklist",
          "description": "Create a blocklist.\n",
          "requestBody": {
            "$ref": "#/components/requestBodies/Blocklist"
          },
          "responses": {
            "201": {
              "description": "Blocklist was created.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Blocklist"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$blocklistForm = new Rebilly\\Entities\\Blocklist();\n$blocklistForm->setType($blocklistForm::TYPE_EMAIL);\n$blocklistForm->setValue('test@test.com');\n$blocklistForm->setExpiredTime('2025-01-01 05:00:00');\n\ntry {\n    $blocklist = $client->blocklists()->create($blocklistForm);\n} catch (UnprocessableEntityException $e) {\n    echo $e->getMessage();\n}\n"
            },
            {
              "lang": "JavaScript",
              "source": "// first set the required properties for the new blocklist item\nconst data = {\n    type: 'ip-address',\n    value: '63.118.98.100'\n\n    // optionally provide an `expirationTime` to make\n    // the item expire and function like a `greylist`\n\n    // expirationTime: '2017-09-18T21:50:44Z'\n};\n\n// the ID is optional\nconst firstKey = await api.blocklists.create({data});\n\n// or you can provide one\nconst secondKey = await api.blocklists.create({id: 'my-second-id', data});\n"
            }
          ]
        }
      },
      "/blocklists/{id}": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Blocklists"
          ],
          "summary": "Retrieve a blocklist",
          "operationId": "GetBlocklist",
          "description": "Retrieve a blocklist with specified identifier string.\n",
          "responses": {
            "200": {
              "description": "Blocklist was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Blocklist"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$blocklist = $client->blocklists()->load('blocklistId');\n"
            },
            {
              "lang": "JavaScript",
              "source": "const blocklistItem = await api.blocklists.get({id: 'foobar-001'});\nconsole.log(blocklistItem.fields.status);\n"
            }
          ]
        },
        "put": {
          "tags": [
            "Blocklists"
          ],
          "summary": "Create a blocklist with predefined ID",
          "operationId": "PutBlocklist",
          "description": "Create a blocklist with predefined identifier string.\n",
          "requestBody": {
            "$ref": "#/components/requestBodies/Blocklist"
          },
          "responses": {
            "201": {
              "description": "Blocklist was created.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Blocklist"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "409": {
              "description": "Blocklist exist and cannot be updated.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$blocklistForm = new Rebilly\\Entities\\Blocklist();\n$blocklistForm->setType($blocklistForm::TYPE_EMAIL);\n$blocklistForm->setValue('test@test.com');\n$blocklistForm->setExpiredTime('2025-01-01 05:00:00');\n\ntry {\n    $blocklist = $client->blocklists()->create($blocklistForm, 'blocklistId');\n} catch (UnprocessableEntityException $e) {\n    echo $e->getMessage();\n}\n"
            },
            {
              "lang": "JavaScript",
              "source": "// first set the required properties for the new blocklist item\nconst data = {\n    type: 'ip-address',\n    value: '63.118.98.100'\n\n    // optionally provide an `expirationTime` to make\n    // the item expire and function like a `greylist`\n\n    // expirationTime: '2017-09-18T21:50:44Z'\n};\n\n// the ID is optional\nconst firstKey = await api.blocklists.create({data});\n\n// or you can provide one\nconst secondKey = await api.blocklists.create({id: 'my-second-id', data});\n"
            }
          ]
        },
        "delete": {
          "tags": [
            "Blocklists"
          ],
          "summary": "Delete a blocklist",
          "operationId": "DeleteBlocklist",
          "description": "Delete a blocklist with predefined identifier string.\n",
          "responses": {
            "204": {
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "description": "Blocklist was deleted."
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$client->blocklists()->delete('blocklistId');\n"
            },
            {
              "lang": "JavaScript",
              "source": "const request = await api.blocklists.delete({id: 'my-second-key'});\n\n// the request does not return any fields but\n// you can confirm the success using the status code\nconsole.log(request.response.status); // 204\n"
            }
          ]
        }
      },
      "/coupons-redemptions": {
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Coupons"
          ],
          "summary": "Retrieve a list of coupon redemptions",
          "operationId": "GetCouponRedemptionCollection",
          "parameters": [
            {
              "$ref": "#/components/parameters/collectionLimit"
            },
            {
              "$ref": "#/components/parameters/collectionOffset"
            },
            {
              "$ref": "#/components/parameters/collectionFilter"
            },
            {
              "$ref": "#/components/parameters/collectionQuery"
            },
            {
              "$ref": "#/components/parameters/collectionSort"
            }
          ],
          "responses": {
            "200": {
              "description": "Coupons redemptions were retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                },
                "Pagination-Total": {
                  "$ref": "#/components/headers/Pagination-Total"
                },
                "Pagination-Limit": {
                  "$ref": "#/components/headers/Pagination-Limit"
                },
                "Pagination-Offset": {
                  "$ref": "#/components/headers/Pagination-Offset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CouponRedemption"
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$couponRedemptions = $client->couponsRedemptions()->search([\n    'filter' => 'customerId:testCustomer',\n]);\n"
            },
            {
              "lang": "JavaScript",
              "source": "// all parameters are optional\nconst firstCollection = await api.coupons.getAllRedemptions();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100, sort: '-createdTime'}; \nconst secondCollection = await api.coupons.getAllRedemptions(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(coupon => console.log(coupon.fields.status));"
            }
          ]
        },
        "post": {
          "tags": [
            "Coupons"
          ],
          "summary": "Redeem a coupon",
          "operationId": "PostCouponRedemption",
          "description": "Redeem a coupon.\n",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouponRedemption"
                }
              }
            },
            "description": "Redeem a coupon.",
            "required": true
          },
          "responses": {
            "201": {
              "description": "Coupon was redeemed.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CouponRedemption"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$redemptionForm = new Rebilly\\Entities\\Coupons\\Redemption();\n$redemptionForm->setCustomerId('customerId');\n$redemptionForm->setCouponId('couponId');\n\n$restrictionArray = [\n    'type' => Rebilly\\Entities\\Coupons\\Restriction::TYPE_DISCOUNTS_PER_REDEMPTION,\n    'quantity' => 2,\n];\n\n$restrictionForm = new Rebilly\\Entities\\Coupons\\Restriction([\n    $restrictionArray,\n]);\n\n$redemptionForm->setAdditionalRestrictions($restrictionForm);\n\ntry {\n    $couponRedemption = $client->couponsRedemptions()->redeem($redemptionForm);\n} catch (UnprocessableEntityException $e) {\n    echo $e->getMessage();\n}\n"
            },
            {
              "lang": "JavaScript",
              "source": "// build the redemption data\nconst data = {\n  couponId: 'my-best-coupon',\n  customerId: 'foobar-001'\n};\n\nconst redemption = await api.coupons.redeem({data});\nconsole.log(redemption.fields.id);\n"
            }
          ]
        }
      },
      "/coupons-redemptions/{id}": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Coupons"
          ],
          "summary": "Retrieve a coupon redemption with specified identifier string",
          "operationId": "GetCouponRedemption",
          "responses": {
            "200": {
              "description": "Retrieve a coupon redemption with specified identifier string.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CouponRedemption"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$couponRedemption = $client->couponsRedemptions()->load('redemptionId');\n"
            },
            {
              "lang": "JavaScript",
              "source": "const redemption = await api.coupons.getRedemption({id: 'foobar-001'});\nconsole.log(redemption.fields.id);"
            }
          ]
        }
      },
      "/coupons-redemptions/{id}/cancel": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "post": {
          "tags": [
            "Coupons"
          ],
          "summary": "Cancel a coupon redemption",
          "operationId": "PostCouponRedemptionCancellation",
          "responses": {
            "201": {
              "description": "Cancel a coupon redemption."
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$client->couponsRedemptions()->cancel('id');\n"
            },
            {
              "lang": "JavaScript",
              "source": "const cancellation = await api.coupons.cancelRedemption({id: 'foobar-001'});\n\n// the request does not return any fields but\n// you can confirm the success using the status code\nconsole.log(cancellation.response.status); // 201"
            }
          ]
        }
      },
      "/coupons": {
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Coupons"
          ],
          "summary": "Retrieve a list of coupons",
          "operationId": "GetCouponCollection",
          "description": "Retrieve a list of coupons.\n",
          "parameters": [
            {
              "$ref": "#/components/parameters/collectionLimit"
            },
            {
              "$ref": "#/components/parameters/collectionOffset"
            },
            {
              "$ref": "#/components/parameters/collectionFilter"
            },
            {
              "$ref": "#/components/parameters/collectionQuery"
            },
            {
              "$ref": "#/components/parameters/collectionSort"
            }
          ],
          "responses": {
            "200": {
              "description": "A list of coupons was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                },
                "Pagination-Total": {
                  "$ref": "#/components/headers/Pagination-Total"
                },
                "Pagination-Limit": {
                  "$ref": "#/components/headers/Pagination-Limit"
                },
                "Pagination-Offset": {
                  "$ref": "#/components/headers/Pagination-Offset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Coupon"
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$coupons = $client->coupons()->search([\n    'filter' => 'status:issued',\n]);\n"
            },
            {
              "lang": "JavaScript",
              "source": "// all parameters are optional\nconst firstCollection = await api.coupons.getAll();\n\n// alternatively you can specify one or more of them\nconst params = {limit: 20, offset: 100, sort: '-createdTime'}; \nconst secondCollection = await api.coupons.getAll(params);\n\n// access the collection items, each item is a Member\nsecondCollection.items.forEach(coupon => console.log(coupon.fields.status));"
            }
          ]
        },
        "post": {
          "tags": [
            "Coupons"
          ],
          "summary": "Create a coupon",
          "operationId": "PostCoupon",
          "description": "Create a coupon.\n",
          "requestBody": {
            "$ref": "#/components/requestBodies/Coupon"
          },
          "responses": {
            "201": {
              "description": "Coupon was created.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Coupon"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "422": {
              "$ref": "#/components/responses/ValidationError"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$couponForm = new Rebilly\\Entities\\Coupons\\Coupon();\n\n$discountArray = [\n    'currency' => 'USD',\n    'amount' => 1.99,\n];\n\n$discountForm = new \\Rebilly\\Entities\\Coupons\\Discounts\\Fixed($discountArray);\n$couponForm->setDiscount($discountForm);\n// Coupon can be used right now\n$couponForm->setIssuedTime(date('Y-m-d H:i:s'));\n\n$restrictionArray = [\n    'quantity' => 2,\n];\n\n$restrictionForm = new Rebilly\\Entities\\Coupons\\Restrictions\\DiscountsPerRedemption($restrictionArray);\n\n$couponForm->setRestrictions([$restrictionForm]);\n\ntry {\n    $coupon = $client->coupons()->create($couponForm);\n} catch (UnprocessableEntityException $e) {\n    echo $e->getMessage();\n}\n"
            },
            {
              "lang": "JavaScript",
              "source": "// first set the required properties for the new coupon\nconst data = {\n    description: 'a new coupon',\n    issuedTime: '2017-09-19T20:46:44Z',\n    discount: {\n        type: 'percent',\n        value: 12\n    },\n    restrictions: [{\n        type: 'discounts-per-redemption',\n        quantity: 12\n    }]\n};\n\n// the ID is optional\nconst firstKey = await api.coupons.create({data});\n\n// or you can provide one\nconst secondKey = await api.coupons.create({id: 'my-second-id', data});\n"
            }
          ]
        }
      },
      "/coupons/{id}": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "get": {
          "tags": [
            "Coupons"
          ],
          "summary": "Retrieve a coupon",
          "operationId": "GetCoupon",
          "description": "Retrieve a coupon with specified coupon ID string.\n",
          "responses": {
            "200": {
              "description": "Coupon was retrieved successfully.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Coupon"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            }
          },
          "x-code-samples": [
            {
              "lang": "PHP",
              "source": "$coupon = $client->coupons()->load('couponId');\n"
            },
            {
              "lang": "JavaScript",
              "source": "const coupon = await api.coupons.get({couponId: 'foobar-001'});\nconsole.log(coupon.fields.status);\n"
            }
          ]
        },
        "put": {
          "tags": [
            "Coupons"
          ],
          "summary": "Create or update a coupon with predefined coupon ID",
          "operationId": "PutCoupon",
          "description": "Create or update a coupon with predefined coupon ID.\n",
          "requestBody": {
            "$ref": "#/components/requestBodies/Coupon"
          },
          "responses": {
            "200": {
              "description": "Coupon was updated.",
              "headers": {
                "Rate-Limit-Limit": {
                  "$ref": "#/components/headers/Rate-Limit-Limit"
                },
                "Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/Rate-Limit-Remaining"
                },
                "Rate-Limit-Reset": {
                  "$ref": "#/components/headers/Rate-Limit-Reset"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Coupon"
                  }
                }
              }
            },
            "201": {
              "description": "Coupon was created.",
              "headers": {
                "Rate-Limit-Limit": {
[...]
