{
    "openapi": "3.0.0",
    "info": {
      "version": "0.1",
      "title": "Rebilly Storefront REST API",
      "contact": {
        "name": "Rebilly API Support",
        "url": "https://www.rebilly.com/contact/",
        "email": "integrations@rebilly.com"
      },
      "license": {
        "name": "Rebilly",
        "url": "https://www.rebilly.com/api-license/"
      },
      "termsOfService": "https://www.rebilly.com/terms-of-use/",
      "x-logo": {
        "url": "https://rebilly-core.redoc.ly/rb_apiLogo.svg",
        "backgroundColor": "#0033A0"
      },
      "description": "# Introduction\nThe Rebilly Storefront API is built on HTTP.  Our API is RESTful.  It has predictable\nresource URLs.  It returns HTTP response codes to indicate errors.  It also\naccepts and returns JSON in the HTTP body. You can use your favorite\nHTTP/REST library for your programming language to use Rebilly's Storefront API.\n"
    },
    "tags": [
      {
        "name": "Account management"
      },
      {
        "name": "Account"
      },
      {
        "name": "Authentication"
      },
      {
        "name": "Checkout Forms"
      },
      {
        "name": "Email verification"
      },
      {
        "name": "Password reset"
      },
      {
        "name": "KYC Document"
      },
      {
        "name": "Payments"
      },
      {
        "name": "Payment Instrument"
      },
      {
        "name": "Purchase"
      },
      {
        "name": "Transaction"
      },
      {
        "name": "Orders"
      },
      {
        "name": "Invoice"
      },
      {
        "name": "Product"
      },
      {
        "name": "Plan"
      },
      {
        "name": "System"
      },
      {
        "name": "Website"
      }
    ],
    "x-tagGroups": [
      {
        "name": "Account management",
        "tags": [
          "Account",
          "Authentication",
          "Email verification",
          "Password reset",
          "KYC Document"
        ]
      },
      {
        "name": "Payments",
        "tags": [
          "Payment Instrument",
          "Transaction"
        ]
      },
      {
        "name": "Orders",
        "tags": [
          "Checkout Forms",
          "Purchase",
          "Invoice",
          "Product",
          "Plan"
        ]
      },
      {
        "name": "System",
        "tags": [
          "Website"
        ]
      }
    ],
    "servers": [
      {
        "url": "https://api-sandbox.rebilly.com/storefront",
        "description": "Sandbox Server."
      },
      {
        "url": "https://api.rebilly.com/storefront",
        "description": "Live Server."
      }
    ],
    "components": {
      "securitySchemes": {
        "CustomerJWT": {
          "description": "You can create a JSON Web Token (JWT) via [Storefront Authentication](https://storefront-api-docs.rebilly.com/#operation/StorefrontPostLogin).\nUsage format: `Bearer <JWT>`.\n",
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        },
        "PublishableApiKey": {
          "description": "Only for the Tokens resource.\nYou can create a Publishable API Key via our [API Keys resource](https://user-api-docs.rebilly.com/#tag/API-Keys), by specifying the type as `publishable`.\n",
          "name": "Authorization",
          "type": "apiKey",
          "in": "header"
        }
      },
      "schemas": {
        "ResourceId": {
          "type": "string",
          "description": "The resource ID. Defaults to UUID v4.",
          "maxLength": 50,
          "example": "4f6cf35x-2c4y-483z-a0a9-158621f77a21"
        },
        "ContactPhoneNumbers": {
          "description": "The list of phone numbers.",
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "label",
              "value"
            ],
            "properties": {
              "label": {
                "description": "The phone label.",
                "type": "string",
                "maxLength": 45,
                "example": "main"
              },
              "value": {
                "description": "The phone value.",
                "type": "string",
                "maxLength": 50,
                "example": "512-710-1640"
              },
              "primary": {
                "description": "True if phone is primary.",
                "type": "boolean",
                "example": true
              }
            }
          }
        },
        "ContactEmails": {
          "description": "The list of emails.",
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "label",
              "value"
            ],
            "properties": {
              "label": {
                "description": "The email label.",
                "type": "string",
                "maxLength": 45,
                "example": "main"
              },
              "value": {
                "description": "The email value.",
                "type": "string",
                "format": "email",
                "maxLength": 255,
                "example": "rebilly@example.com"
              },
              "primary": {
                "description": "True if email is primary.",
                "type": "boolean",
                "example": true
              }
            }
          }
        },
        "ContactObject": {
          "type": "object",
          "properties": {
            "firstName": {
              "description": "The contact first name.",
              "type": "string",
              "pattern": "^[\\w\\s\\-\\pL,.']+$",
              "maxLength": 45,
              "example": "Benjamin",
              "nullable": true
            },
            "lastName": {
              "description": "The contact last name.",
              "type": "string",
              "pattern": "^[\\w\\s\\-\\pL,.']+$",
              "maxLength": 45,
              "example": "Franklin",
              "nullable": true
            },
            "organization": {
              "description": "The contact organization.",
              "type": "string",
              "pattern": "^[\\w\\s\\-\\pL,.']+$",
              "maxLength": 255,
              "nullable": true,
              "example": null
            },
            "address": {
              "description": "The contact street address.",
              "type": "string",
              "pattern": "^[\\w\\s\\-\\/\\pL,.#;:()']+$",
              "maxLength": 60,
              "example": "36 Craven St",
              "nullable": true
            },
            "address2": {
              "description": "The contact street address (second line).",
              "type": "string",
              "pattern": "^[\\w\\s\\-\\/\\pL,.#;:()']+$",
              "maxLength": 60,
              "nullable": true
            },
            "city": {
              "description": "The contact city.",
              "type": "string",
              "pattern": "^[\\w\\s\\-\\pL,.']+$",
              "maxLength": 45,
              "nullable": true,
              "example": "London"
            },
            "region": {
              "description": "The contact region (state).",
              "type": "string",
              "pattern": "^[\\w\\s\\-\\/\\pL,.#;:()']+$",
              "maxLength": 45,
              "nullable": true,
              "example": "London"
            },
            "country": {
              "description": "The contact country ISO Alpha-2 code.",
              "type": "string",
              "pattern": "^[A-Z]{2}$",
              "maxLength": 2,
              "nullable": true,
              "example": "GB"
            },
            "postalCode": {
              "description": "The contact postal code.",
              "type": "string",
              "pattern": "^[\\w\\s\\-]+$",
              "maxLength": 10,
              "nullable": true,
              "example": "WC2N 5NF"
            },
            "phoneNumbers": {
              "$ref": "#/components/schemas/ContactPhoneNumbers"
            },
            "emails": {
              "$ref": "#/components/schemas/ContactEmails"
            },
            "hash": {
              "description": "A hash that can be used to compare multiple contacts for identical attribute values.",
              "type": "string",
              "maxLength": 40,
              "example": "056ae6d97c788b9e98b049ebafd7b229bf852221",
              "readOnly": true
            }
          }
        },
        "InstrumentReference": {
          "type": "object",
          "title": "Instrument",
          "required": [
            "method",
            "paymentInstrumentId"
          ],
          "properties": {
            "method": {
              "type": "string",
              "enum": [
                "payment-card",
                "ach",
                "paypal"
              ]
            },
            "paymentInstrumentId": {
              "description": "The payment instrument ID.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            }
          }
        },
        "PaymentMethod": {
          "type": "string",
          "description": "The payment method.",
          "enum": [
            "payment-card",
            "ach",
            "cash",
            "check",
            "paypal",
            "AdvCash",
            "Airpay",
            "Alfa-click",
            "Alipay",
            "APAR",
            "Apple Pay",
            "AstroPay Card",
            "AstroPay-GO",
            "bank-transfer",
            "bank-transfer-2",
            "bank-transfer-3",
            "bank-transfer-4",
            "bank-transfer-5",
            "bank-transfer-6",
            "bank-transfer-7",
            "bank-transfer-8",
            "bank-transfer-9",
            "Beeline",
            "Belfius-direct-net",
            "bitcoin",
            "Boleto",
            "Boleto-2",
            "Boleto-3",
            "cash-deposit",
            "CASHlib",
            "CashToCode",
            "CCAvenue",
            "China UnionPay",
            "CODVoucher",
            "Conekta-oxxo",
            "Conekta-spei",
            "cryptocurrency",
            "Cupon-de-pagos",
            "domestic-cards",
            "echeck",
            "ecoPayz",
            "ecoVoucher",
            "EPS",
            "ePay.bg",
            "Ethereum",
            "e-wallet",
            "eZeeWallet",
            "Flexepin",
            "Giropay",
            "Google Pay",
            "Gpaysafe",
            "iDebit",
            "iDEAL",
            "ING-homepay",
            "INOVAPAY-pin",
            "INOVAPAY-wallet",
            "InstaDebit",
            "instant-bank-transfer",
            "Interac-online",
            "Interac-eTransfer",
            "Interac-express-connect",
            "Interac",
            "invoice",
            "Jeton",
            "jpay",
            "Khelocard",
            "Klarna",
            "Litecoin",
            "LPG-online",
            "LPG-payment-card",
            "Megafon",
            "miscellaneous",
            "Bancontact",
            "MTS",
            "MuchBetter",
            "MyFatoorah",
            "Neosurf",
            "Netbanking",
            "Neteller",
            "Nordea-Solo",
            "OchaPay",
            "online-bank-transfer",
            "Onlineueberweisen",
            "oriental-wallet",
            "OXXO",
            "Pagsmile-lottery",
            "Pagsmile-deposit-express",
            "PayCash",
            "Payeer",
            "Paysafecard",
            "PayTabs",
            "Pay4Fun",
            "Paymero",
            "Paymero-QR",
            "PayULatam",
            "Perfect-money",
            "Piastrix",
            "PIX",
            "PinPay",
            "phone",
            "PhonePe",
            "POLi",
            "Przelewy24",
            "QIWI",
            "QQPay",
            "Resurs",
            "SEPA",
            "Siirto",
            "Skrill",
            "Skrill Rapid Transfer",
            "SMSVoucher",
            "Sofort",
            "SparkPay",
            "swift-dbt",
            "Tele2",
            "Terminaly-RF",
            "Tether",
            "ToditoCash-card",
            "Trustly",
            "TWINT",
            "UniCrypt",
            "UPayCard",
            "UPI",
            "VCreditos",
            "voucher",
            "voucher-2",
            "voucher-3",
            "voucher-4",
            "Webmoney",
            "Webpay",
            "Webpay-2",
            "Webpay Card",
            "WeChat Pay",
            "Yandex-money",
            "Zotapay",
            "Zimpler"
          ]
        },
        "MethodReference": {
          "type": "object",
          "title": "Method only",
          "required": [
            "method"
          ],
          "properties": {
            "method": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          }
        },
        "PaymentInstrumentReference": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/InstrumentReference"
            },
            {
              "$ref": "#/components/schemas/MethodReference"
            }
          ]
        },
        "ResourceCustomFields": {
          "description": "Custom Fields list as a map `{\"custom field name\": \"custom field value\", ...}`. The format must follow the saved format (see Custom Fields section for the formats).\n",
          "type": "object",
          "default": {},
          "example": {
            "foo": "bar"
          }
        },
        "ServerTimestamp": {
          "type": "string",
          "description": "Read-only timestamp, automatically assigned on back-end.",
          "format": "date-time",
          "readOnly": true
        },
        "Link": {
          "type": "object",
          "properties": {
            "href": {
              "description": "The link URL.",
              "type": "string"
            }
          },
          "required": [
            "href"
          ]
        },
        "SelfLink": {
          "type": "object",
          "allOf": [
            {
              "$ref": "#/components/schemas/Link"
            }
          ],
          "properties": {
            "rel": {
              "description": "The link type.",
              "type": "string",
              "enum": [
                "self"
              ]
            }
          },
          "required": [
            "rel"
          ]
        },
        "Account": {
          "type": "object",
          "properties": {
            "id": {
              "description": "The account ID.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "websiteId": {
              "description": "The website identifier string.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "username": {
              "type": "string",
              "description": "Username.",
              "readOnly": true
            },
            "primaryAddress": {
              "$ref": "#/components/schemas/ContactObject"
            },
            "paymentToken": {
              "type": "string",
              "writeOnly": true,
              "description": "A write-only payment token; if supplied, it will be converted into a\npayment instrument and be set as the `defaultPaymentInstrument`. The\nvalue of this property will override the `defaultPaymentInstrument`\nin the case that both are supplied. The token may only be used once\nbefore it is expired.\n"
            },
            "defaultPaymentInstrument": {
              "$ref": "#/components/schemas/PaymentInstrumentReference"
            },
            "customFields": {
              "$ref": "#/components/schemas/ResourceCustomFields"
            },
            "createdTime": {
              "description": "The customer created time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "updatedTime": {
              "description": "The customer updated time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "_links": {
              "type": "array",
              "description": "The links related to resource.",
              "readOnly": true,
              "minItems": 1,
              "items": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/SelfLink"
                  }
                ]
              }
            }
          }
        },
        "BlankProblem": {
          "description": "The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].",
          "type": "object",
          "minProperties": 1,
          "additionalProperties": true,
          "properties": {
            "status": {
              "type": "integer",
              "description": "The HTTP status code.",
              "minimum": 400,
              "maximum": 599
            },
            "title": {
              "type": "string",
              "description": "A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization."
            }
          }
        },
        "DocumentedProblem": {
          "type": "object",
          "allOf": [
            {
              "properties": {
                "type": {
                  "type": "string",
                  "description": "A URI reference [[RFC3986](https://tools.ietf.org/html/rfc3986)] that identifies the problem type. It should provide human-readable documentation for the problem type. When this member is not present, its value is assumed to be \"about:blank\".",
                  "format": "uri"
                }
              }
            },
            {
              "$ref": "#/components/schemas/BlankProblem"
            }
          ]
        },
        "DetailedProblem": {
          "type": "object",
          "allOf": [
            {
              "$ref": "#/components/schemas/BlankProblem"
            },
            {
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "A human-readable explanation specific to this occurrence of the problem."
                }
              }
            }
          ]
        },
        "Problem": {
          "type": "object",
          "allOf": [
            {
              "$ref": "#/components/schemas/DocumentedProblem"
            },
            {
              "$ref": "#/components/schemas/DetailedProblem"
            }
          ]
        },
        "Error": {
          "type": "object",
          "allOf": [
            {
              "$ref": "#/components/schemas/Problem"
            },
            {
              "properties": {
                "error": {
                  "deprecated": true,
                  "type": "string"
                }
              }
            }
          ]
        },
        "ValidationErrorExtensions": {
          "type": "object",
          "properties": {
            "invalidFields": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "field": {
                    "type": "string",
                    "description": "The field name. Dot notation is used for nested object field names."
                  },
                  "message": {
                    "type": "string"
                  }
                }
              },
              "example": [
                {
                  "field": "field1",
                  "message": "field1 is invalid"
                },
                {
                  "field": "subObject.field2",
                  "message": "field2 is invalid"
                },
                {
                  "field": "subObject.field2",
                  "message": "another error in the field2"
                }
              ]
            }
          }
        },
        "InvalidError": {
          "description": "Invalid data was sent.",
          "allOf": [
            {
              "$ref": "#/components/schemas/Error"
            },
            {
              "$ref": "#/components/schemas/ValidationErrorExtensions"
            }
          ]
        },
        "CheckoutFormFixedPlan": {
          "title": "Fixed quantity",
          "type": "object",
          "required": [
            "planId",
            "type",
            "quantity"
          ],
          "properties": {
            "planId": {
              "description": "The plan identifier string.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "type": {
              "description": "If `variable` customers will be able to choose the quantity.",
              "type": "string",
              "enum": [
                "fixed"
              ]
            },
            "quantity": {
              "description": "The quantity.",
              "type": "integer",
              "minimum": 1
            }
          }
        },
        "CheckoutFormVariablePlan": {
          "title": "Variable quantity",
          "type": "object",
          "required": [
            "planId",
            "type",
            "quantity"
          ],
          "properties": {
            "planId": {
              "description": "The plan identifier string.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "type": {
              "description": "If `variable` customers will be able to choose the quantity.",
              "type": "string",
              "enum": [
                "variable"
              ]
            },
            "quantity": {
              "description": "The default quantity.",
              "type": "integer"
            },
            "minimum": {
              "description": "The minimum quantity.",
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "multipleOf": {
              "description": "The step quantity.",
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "maximum": {
              "description": "The maximum quantity.",
              "type": "integer",
              "minimum": 1,
              "default": 100
            }
          }
        },
        "CheckoutFormPlan": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/CheckoutFormFixedPlan"
            },
            {
              "$ref": "#/components/schemas/CheckoutFormVariablePlan"
            }
          ]
        },
        "CheckoutFormPlans": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/CheckoutFormPlan"
          }
        },
        "CommonCheckoutForm": {
          "type": "object",
          "required": [
            "websiteId",
            "plans"
          ],
          "properties": {
            "id": {
              "description": "The checkout form identifier string.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "websiteId": {
              "description": "Checkout form website ID.",
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "plans": {
              "description": "The list of plans that would be applied to customer order by default.",
              "minItems": 1,
              "allOf": [
                {
                  "$ref": "#/components/schemas/CheckoutFormPlans"
                }
              ]
            },
            "addonPlans": {
              "description": "The list of independent addons.\nCustomer will be able to select whether to add the plans from the list or not.",
              "default": [],
              "allOf": [
                {
                  "$ref": "#/components/schemas/CheckoutFormPlans"
                }
              ]
            },
            "bumpPlans": {
              "description": "The list of plans that can be used instead of ones specified in `plans`.\nCustomer will be able to select whether to purchase bump plans or the regular ones.",
              "default": [],
              "allOf": [
                {
                  "$ref": "#/components/schemas/CheckoutFormPlans"
                }
              ]
            },
            "accountsEnabled": {
              "description": "If `true` customer will be able to sign-up and sign-in using the form.",
              "type": "boolean",
              "default": false
            },
            "couponsEnabled": {
              "description": "If `true` customer will be able to use coupons on the form.",
              "type": "boolean",
              "default": false
            },
            "purchaseLimit": {
              "description": "If the purchase limit is set – every purchase will decrease it. Zero purchase limit will make form inactive.",
              "type": "integer",
              "minimum": 0,
              "nullable": true,
              "default": null
            },
            "paymentMethods": {
              "description": "The list of available payment methods. Only payment methods with at least one active gateway account are allowed.\nIf not specified all available payment methods will be displayed.",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PaymentMethod"
              }
            },
            "customization": {
              "description": "Visual customization options for the form.",
              "type": "object",
              "properties": {
                "logoId": {
                  "description": "Linked file object ID.",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResourceId"
                    }
                  ]
                },
                "summary": {
                  "description": "Summary text.",
                  "type": "string"
                },
                "buttonText": {
                  "description": "You can use placeholder `{{amount}}` to substitute with the form total.",
                  "type": "string",
                  "default": "Pay {{amount}}"
                },
                "colors": {
                  "description": "Control the primary color used in the form and button text.",
                  "type": "object",
                  "properties": {
                    "primary": {
                      "description": "Primary color for the form in hexadecimal format.",
                      "type": "string",
                      "maxLength": 6,
                      "default": "0044d4"
                    },
                    "buttonText": {
                      "description": "Button text color for the form in hexadecimal format.",
                      "type": "string",
                      "maxLength": 6,
                      "default": "ffffff"
                    }
                  }
                },
                "links": {
                  "description": "Various urls that appear on the form.",
                  "type": "object",
                  "properties": {
                    "refundPolicy": {
                      "description": "The url to the website refund policy.",
                      "type": "string",
                      "format": "url"
                    },
                    "privacyPolicy": {
                      "description": "The url to the website privacy policy.",
                      "type": "string",
                      "format": "url"
                    },
                    "termsOfService": {
                      "description": "The url to the website terms of service.",
                      "type": "string",
                      "format": "url"
                    }
                  }
                },
                "tracking": {
                  "description": "Various tracking system identifier strings.",
                  "type": "object",
                  "properties": {
                    "googleAnalytics": {
                      "description": "The Google Analytics tracking identifier string.",
                      "type": "string",
                      "example": "UA-XXXXX-YY"
                    },
                    "googleTagManager": {
                      "description": "The Google Tag Manager tracking identifier string.",
                      "type": "string",
                      "example": "GTM-XXXXX"
                    },
                    "gtagJs": {
                      "description": "The Google Analytics tracking identifier string for Google's Global Site Tag (gtag.js) service.",
                      "type": "string",
                      "example": "UA-XXXXX-YY"
                    },
                    "facebookPixel": {
                      "description": "The Facebook Pixel tracking identifier string.",
                      "type": "string",
                      "example": 1234567890
                    },
                    "segmentAnalytics": {
                      "description": "The Segment Analytics tracking identifier string.",
                      "type": "string",
                      "example": 1234567890
                    },
                    "heapIo": {
                      "description": "The Heap.io tracking identifier string.",
                      "type": "string",
                      "example": 1234567890
                    }
                  }
                },
                "requiredAdditionalFields": {
                  "description": "The list of fields which are marked as required.",
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": [
                      "information.companyName",
                      "information.phoneNumber"
                    ]
                  }
                }
              }
            },
            "createdTime": {
              "description": "Checkout form created time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "updatedTime": {
              "description": "Checkout form updated time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            }
          }
        },
        "StorefrontCheckoutForm": {
          "allOf": [
            {
              "$ref": "#/components/schemas/CommonCheckoutForm"
            },
            {
              "type": "object",
              "properties": {
                "token": {
                  "description": "The session's token used for authentication.",
                  "type": "string",
                  "readOnly": true
                },
                "_links": {
                  "type": "array",
                  "description": "The links related to resource.",
                  "readOnly": true,
                  "minItems": 1,
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/SelfLink"
                      }
                    ]
                  }
                }
              }
            }
          ]
        },
        "CurrencyCode": {
          "type": "string",
          "description": "ISO 4217 alphabetic currency code.",
          "minLength": 3,
          "maxLength": 3,
          "example": "USD"
        },
        "ProductLink": {
          "type": "object",
          "allOf": [
            {
              "$ref": "#/components/schemas/Link"
            }
          ],
          "properties": {
            "rel": {
              "description": "The link type.",
              "type": "string",
              "enum": [
                "product"
              ]
            }
          },
          "required": [
            "rel"
          ]
        },
        "CommonProduct": {
          "type": "object",
          "required": [
            "name"
          ],
          "description": "Products include digital goods, services, and physical goods.\nProducts appear on invoice line items. If you set a tax category identifier,\ntaxes will be calculated upon invoice generation. If it is shippable,\nshipping will be calculated upon invoice generation. Pricing and\nvariations are set within Plans.\n",
          "properties": {
            "id": {
              "description": "The product ID.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ],
              "example": "membership"
            },
            "name": {
              "description": "The product name.",
              "type": "string",
              "maxLength": 255,
              "example": "Premium membership"
            },
            "unitLabel": {
              "description": "The unit label, such as per `seat` or per `unit`.",
              "type": "string",
              "maxLength": 50,
              "example": "seat",
              "default": "unit"
            },
            "description": {
              "description": "The product description.",
              "type": "string",
              "maxLength": 512
            },
            "requiresShipping": {
              "description": "If the product requires shipping, shipping calculations will be applied.",
              "type": "boolean",
              "example": false
            },
            "options": {
              "description": "The product options such as color, size, etc. The product options definition does\nnot include option values. Those are defined within the plans.\n",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "customFields": {
              "$ref": "#/components/schemas/ResourceCustomFields"
            },
            "createdTime": {
              "description": "The product created time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "updatedTime": {
              "description": "The product updated time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            }
          }
        },
        "Product": {
          "allOf": [
            {
              "$ref": "#/components/schemas/CommonProduct"
            },
            {
              "properties": {
                "taxCategoryId": {
                  "description": "The product's tax category identifier string.",
                  "type": "string",
                  "enum": [
                    "00000",
                    "99999",
                    "20010",
                    "40030",
                    "51020",
                    "51010",
                    "31000",
                    "30070"
                  ]
                },
                "accountingCode": {
                  "description": "The product accounting code.",
                  "type": "string",
                  "example": "4010"
                },
                "_links": {
                  "type": "array",
                  "description": "The links related to resource.",
                  "readOnly": true,
                  "minItems": 1,
                  "items": {
                    "$ref": "#/components/schemas/SelfLink"
                  }
                }
              }
            }
          ]
        },
        "ProductEmbed": {
          "type": "object",
          "description": "Product object.",
          "readOnly": true,
          "properties": {
            "product": {
              "$ref": "#/components/schemas/Product"
            }
          }
        },
        "PlanPriceFormula": {
          "type": "object",
          "discriminator": {
            "propertyName": "formula",
            "mapping": {
              "fixed-fee": "#/components/schemas/fixed-fee",
              "flat-rate": "#/components/schemas/flat-rate",
              "stairstep": "#/components/schemas/stairstep",
              "tiered": "#/components/schemas/tiered",
              "volume": "#/components/schemas/volume"
            }
          },
          "required": [
            "formula"
          ],
          "properties": {
            "formula": {
              "type": "string",
              "description": "The price formula determines what algorithm is used to calculate the invoice price based on a few factors,\n- the quantity in the order (which may be variable if usage pricing, otherwise determined when creating the order)\n- the price brackets data\n\nTo determine which formula is correct, please see the price formula documentation.\n",
              "enum": [
                "fixed-fee",
                "flat-rate",
                "stairstep",
                "tiered",
                "volume"
              ]
            }
          }
        },
        "fixed-fee": {
          "allOf": [
            {
              "$ref": "#/components/schemas/PlanPriceFormula"
            },
            {
              "type": "object",
              "required": [
                "price"
              ],
              "properties": {
                "price": {
                  "description": "For the very simple price when it's fixed and does not depend on the quantity chosen by customer.\n\nIf the price is 0, it's free.\n",
                  "type": "number",
                  "format": "double",
                  "example": 99.95
                }
              }
            }
          ]
        },
        "flat-rate": {
          "allOf": [
            {
              "$ref": "#/components/schemas/PlanPriceFormula"
            },
            {
              "type": "object",
              "required": [
                "price"
              ],
              "properties": {
                "price": {
                  "description": "Flat-rate pricing is represented in a simple price per unit.\nSome examples:\n\n- $30 per unit\n- $0.10 per transaction\n- $50 per period\n\nIf the price is 0, it's free.\n",
                  "type": "number",
                  "format": "double",
                  "example": 99.95
                },
                "maxQuantity": {
                  "description": "If the value is `null`, it''s assumed to be infinite.",
                  "type": "integer",
                  "example": 1
                }
              }
            }
          ]
        },
        "stairstep": {
          "allOf": [
            {
              "$ref": "#/components/schemas/PlanPriceFormula"
            },
            {
              "type": "object",
              "required": [
                "brackets"
              ],
              "properties": {
                "brackets": {
                  "description": "The price brackets, along with the price formula,\nis used to calculate the amount to charge for the product on this plan on the invoice.\n\nThe \"stairstep\" example:\n\nPrice total | Max quantity | Description\n------------|--------------|------------\n$5          | 1            | 1\n$13         | 5            | 2 to 5\n$30         | null         | 6 or more\n\nIf someone bought 1 apple, it would be $5.\n\nIf someone bought 2 apples, it would be $13. For 2 to 5 apples, the price is $13 in any case.\n",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "price": {
                        "description": "If the price is 0, it is free.",
                        "type": "number",
                        "format": "double",
                        "example": 99.95
                      },
                      "maxQuantity": {
                        "description": "If the value is `null`, it's assumed to be infinite.  It starts at the end of the previous bracket.\nIf there is no previous bracket, it starts at 1.\n",
                        "type": "integer",
                        "example": 1
                      }
                    }
                  }
                }
              }
            }
          ]
        },
        "tiered": {
          "allOf": [
            {
              "$ref": "#/components/schemas/PlanPriceFormula"
            },
            {
              "type": "object",
              "required": [
                "brackets"
              ],
              "properties": {
                "brackets": {
                  "description": "The price brackets, along with the price formula,\nis used to calculate the amount to charge for the product on this plan on the invoice.\n\nThe \"tiered\" example:\n\nPrice per apple | Max quantity | Description\n----------------|--------------|------------\n$5              | 1            | 1\n$4              | 5            | 2 to 5\n$3              | null         | 6 or more\n\nIf someone bought 1 apple, it would be $5.\n\nIf someone bought 2 apples, it would be $9. $5 per apple for the first apple, then $4 per apple for the 2nd to 5th apple.\n",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "price": {
                        "description": "If the price is 0, it is free.",
                        "type": "number",
                        "format": "double",
                        "example": 99.95
                      },
                      "maxQuantity": {
                        "description": "If the value is `null`, it's assumed to be infinite.  It starts at the end of the previous bracket.\nIf there is no previous bracket, it starts at 1.\n",
                        "type": "integer",
                        "example": 1
                      }
                    }
                  }
                }
              }
            }
          ]
        },
        "volume": {
          "allOf": [
            {
              "$ref": "#/components/schemas/PlanPriceFormula"
            },
            {
              "type": "object",
              "required": [
                "brackets"
              ],
              "properties": {
                "brackets": {
                  "description": "The price brackets, along with the price formula,\nis used to calculate the amount to charge for the product on this plan on the invoice.\n\nThe \"volume\" example:\n\nPrice per apple | Max quantity | Description\n----------------|--------------|------------\n$5              | 1            | 1\n$4              | 5            | 2 to 5\n$3              | null         | 6 or more\n\nIf someone bought 1 apple, it would be $5.\n\nIf someone bought 2 apples, it would be $8. For 2 to 5 apples, the price is $4 per apple.\n",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "price": {
                        "description": "If the price is 0, it is free.",
                        "type": "number",
                        "format": "double",
                        "example": 99.95
                      },
                      "maxQuantity": {
                        "description": "If the value is `null`, it's assumed to be infinite.  It starts at the end of the previous bracket.\nIf there is no previous bracket, it starts at 1.\n",
                        "type": "integer",
                        "example": 1
                      }
                    }
                  }
                }
              }
            }
          ]
        },
        "PlanPeriod": {
          "type": "object",
          "required": [
            "unit",
            "length"
          ],
          "properties": {
            "unit": {
              "description": "The unit of time.",
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year"
              ]
            },
            "length": {
              "description": "The length of time.",
              "type": "integer"
            }
          }
        },
        "PlanBillingTiming": {
          "type": "string",
          "default": "prepaid",
          "description": "The billing timing in relation to the service period.\nFor `prepaid` plans the customer pays when the service period starts,\nwhereas, for `postpaid` plans, the customer pays when the service period ends.\n",
          "enum": [
            "prepaid",
            "postpaid"
          ]
        },
        "CommonPlan": {
          "type": "object",
          "required": [
            "name",
            "currency",
            "productId",
            "pricing"
          ],
          "properties": {
            "id": {
              "description": "The plan ID.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "name": {
              "description": "The plan name, displayed on invoices and receipts.",
              "type": "string"
            },
            "productId": {
              "description": "The related product ID.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "productOptions": {
              "type": "object",
              "description": "Name-value pairs to specify the product options.",
              "additionalProperties": {
                "type": "string"
              },
              "example": {
                "color": "red",
                "size": "xxl"
              }
            },
            "currency": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CurrencyCode"
                }
              ]
            },
            "currencySign": {
              "description": "Currency sign.",
              "readOnly": true,
              "type": "string"
            },
            "pricing": {
              "$ref": "#/components/schemas/PlanPriceFormula"
            },
            "recurringInterval": {
              "description": "The service interval. For a one-time item, use `null`.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlanPeriod"
                },
                {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "description": "The number of invoices this subscription order will generate\n(if 1, it will not generate any beyond the initial order creation).\nFor example, set this property to `12`, when the `periodUnit` is month and the\n`periodDuration` is 1, for a 1 year contract billed monthly.\n",
                      "type": "integer"
                    },
                    "billingTiming": {
                      "$ref": "#/components/schemas/PlanBillingTiming"
                    }
                  }
                }
              ]
            },
            "trial": {
              "type": "object",
              "description": "The trial. Set `null` if no trial.",
              "required": [
                "price",
                "period"
              ],
              "properties": {
                "price": {
                  "description": "The price of the trial. For a free trial, use `0`.",
                  "type": "number",
                  "format": "double"
                },
                "period": {
                  "$ref": "#/components/schemas/PlanPeriod"
                }
              }
            },
            "isTrialOnly": {
              "type": "boolean",
              "description": "Whether a plan has a trial without recurring instructions.",
              "readOnly": true
            },
            "setup": {
              "type": "object",
              "description": "The setup. Set `null` if no setup.",
              "required": [
                "price"
              ],
              "properties": {
                "price": {
                  "description": "The price of a setup - 0 is a valid value (for free).",
                  "type": "number",
                  "format": "double"
                }
              }
            },
            "customFields": {
              "$ref": "#/components/schemas/ResourceCustomFields"
            },
            "revision": {
              "type": "integer",
              "readOnly": true,
              "description": "Increments when the plan is modified. \nCompare to materialized subscription items revision.\n"
            },
            "createdTime": {
              "description": "Plan created time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "updatedTime": {
              "description": "Plan updated time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            }
          }
        },
        "TimeUnit": {
          "type": "string",
          "enum": [
            "second",
            "minute",
            "hour",
            "day",
            "month",
            "year"
          ]
        },
        "TimePluralUnit": {
          "type": "string",
          "enum": [
            "seconds",
            "minutes",
            "hours",
            "days",
            "months",
            "years"
          ]
        },
        "IssueTimeShiftInstruction": {
          "type": "object",
          "description": "The calculation instruction of billing time.\nThis is used in conjunction with the **service period anchor** to calculate the time the invoice is issued.\n",
          "required": [
            "chronology",
            "duration",
            "unit"
          ],
          "properties": {
            "chronology": {
              "type": "string",
              "description": "The chronology of the billing time relatively to the service period start.",
              "enum": [
                "before"
              ]
            },
            "duration": {
              "type": "integer",
              "description": "The number of the units.",
              "minimum": 1
            },
            "unit": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TimeUnit"
                },
                {
                  "$ref": "#/components/schemas/TimePluralUnit"
                }
              ]
            }
          }
        },
        "DueTimeShiftInstruction": {
          "type": "object",
          "description": "The calculation instruction of due time.\nThis is used in conjunction with the **billing anchor** to calculate due time of invoice.\nThe chronology of due time shift is always **after**.\n",
          "default": {
            "duration": 1,
            "unit": "hour"
          },
          "properties": {
            "duration": {
              "type": "integer",
              "description": "The number of the units.",
              "minimum": 1
            },
            "unit": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TimeUnit"
                },
                {
                  "$ref": "#/components/schemas/TimePluralUnit"
                }
              ]
            }
          },
          "required": [
            "duration",
            "unit"
          ]
        },
        "InvoiceTimeShift": {
          "type": "object",
          "description": "The invoice time shift in conjunction with `billingTiming` allows to setup different billing use cases such as:\n- Bill immediately when the service period _starts_\n- Bill immediately after the service period _ends_\n- Bill _interval of time_ before the service period _starts_\n- Bill _interval of time_ after the service period _starts_\n- Bill _interval of time_ before the service period _ends_\n- Bill _interval of time_ after the service period _ends_\nIt allows to control the billing time.\n",
          "properties": {
            "issueTimeShift": {
              "$ref": "#/components/schemas/IssueTimeShiftInstruction"
            },
            "dueTimeShift": {
              "$ref": "#/components/schemas/DueTimeShiftInstruction"
            }
          }
        },
        "Plan": {
          "allOf": [
            {
              "$ref": "#/components/schemas/CommonPlan"
            },
            {
              "properties": {
                "invoiceTimeShift": {
                  "description": "You can shift issue time and due time of invoices for this plan.",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/InvoiceTimeShift"
                    }
                  ]
                },
                "_links": {
                  "type": "array",
                  "description": "The links related to resource.",
                  "readOnly": true,
                  "minItems": 1,
                  "items": {
                    "$ref": "#/components/schemas/SelfLink"
                  }
                }
              }
            }
          ]
        },
        "PlanEmbed": {
          "type": "object",
          "description": "Plan object.",
          "readOnly": true,
          "properties": {
            "plan": {
              "$ref": "#/components/schemas/Plan"
            }
          }
        },
        "InvoiceItem": {
          "type": "object",
          "required": [
            "type",
            "unitPrice"
          ],
          "properties": {
            "id": {
              "description": "The website identifier string.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "type": {
              "description": "Invoice item's type.",
              "type": "string",
              "enum": [
                "debit",
                "credit"
              ]
            },
            "description": {
              "description": "Invoice item's description.",
              "type": "string"
            },
            "unitPrice": {
              "description": "Invoice item's price.",
              "type": "number",
              "format": "double"
            },
            "quantity": {
              "description": "Invoice item's quantity.",
              "type": "integer"
            },
            "price": {
              "description": "Invoice item's total price.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "productId": {
              "description": "The product's ID.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "discountAmount": {
              "description": "Invoice item discount amount.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "periodStartTime": {
              "description": "Start time.",
              "type": "string",
              "format": "date-time"
            },
            "periodEndTime": {
              "description": "End time.",
              "type": "string",
              "format": "date-time"
            },
            "periodNumber": {
              "description": "Invoice item subscription order period number.",
              "type": "integer"
            },
            "createdTime": {
              "description": "Invoice item created time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "updatedTime": {
              "description": "Invoice item updated time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "_links": {
              "type": "array",
              "description": "The links related to resource.",
              "readOnly": true,
              "minItems": 1,
              "items": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/SelfLink"
                  },
                  {
                    "$ref": "#/components/schemas/ProductLink"
                  }
                ]
              }
            },
            "_embedded": {
              "type": "array",
              "description": "Any embedded objects available that are requested by the `expand` querystring parameter.",
              "readOnly": true,
              "minItems": 1,
              "items": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ProductEmbed"
                  },
                  {
                    "$ref": "#/components/schemas/PlanEmbed"
                  }
                ]
              }
            }
          }
        },
        "InvoiceTax": {
          "type": "object",
          "readOnly": true,
          "properties": {
            "amount": {
              "description": "Tax amount.",
              "type": "number",
              "format": "double"
            },
            "description": {
              "type": "string",
              "description": "Tax description."
            }
          }
        },
        "InvoiceDiscount": {
          "type": "object",
          "readOnly": true,
          "properties": {
            "couponId": {
              "description": "Coupon's ID.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "redemptionId": {
              "description": "Redemption ID.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "amount": {
              "description": "Total amount that was discounted by this Coupon.",
              "type": "number",
              "format": "double"
            },
            "description": {
              "type": "string",
              "description": "Discount description."
            }
          }
        },
        "CommonInvoice": {
          "type": "object",
          "required": [
            "currency",
            "websiteId"
          ],
          "properties": {
            "id": {
              "description": "The invoice ID.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "websiteId": {
              "description": "The website ID.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "invoiceNumber": {
              "description": "An auto-incrementing number based on the sequence of invoices for any particular customer.",
              "readOnly": true,
              "type": "integer"
            },
            "subscriptionId": {
              "description": "The related order's ID if available, otherwise null.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "currency": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CurrencyCode"
                }
              ]
            },
            "amount": {
              "description": "The invoice's amount.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "amountDue": {
              "description": "The invoice's due amount.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "subtotalAmount": {
              "description": "The invoice's subtotal amount.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "discountAmount": {
              "description": "The invoice's discounts amount.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "taxAmount": {
              "description": "The invoice's taxes amount.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "shippingAmount": {
              "description": "The invoice's shipping amount.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "billingAddress": {
              "description": "Invoice's billing address.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ContactObject"
                }
              ]
            },
            "deliveryAddress": {
              "description": "Invoice's delivery address.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ContactObject"
                }
              ]
            },
            "poNumber": {
              "description": "Purchase order number which will be displayed on the invoice.",
              "nullable": true,
              "example": "PO123456",
              "type": "string"
            },
            "notes": {
              "description": "Notes for the customer which will be displayed on the invoice.",
              "type": "string"
            },
            "items": {
              "type": "array",
              "description": "Invoice items array.",
              "readOnly": true,
              "items": {
                "$ref": "#/components/schemas/InvoiceItem"
              }
            },
            "taxes": {
              "type": "array",
              "description": "Taxes applied to this invoice.",
              "readOnly": true,
              "items": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InvoiceTax"
                  }
                ]
              }
            },
            "discounts": {
              "type": "array",
              "description": "Discounts applied.",
              "readOnly": true,
              "items": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InvoiceDiscount"
                  }
                ]
              }
            },
            "autopayScheduledTime": {
              "description": "Invoice autopay scheduled time.",
              "type": "string",
              "format": "date-time"
            },
            "autopayRetryNumber": {
              "description": "Invoice autopay retry number.",
              "readOnly": true,
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "status": {
              "type": "string",
              "description": "Invoice status.",
              "readOnly": true,
              "enum": [
                "draft",
                "unpaid",
                "paid",
                "past-due",
                "delinquent",
                "abandoned",
                "voided",
                "partially-refunded",
                "refunded",
                "disputed"
              ]
            },
            "delinquentCollectionPeriod": {
              "type": "integer",
              "description": "Delinquent collection period - difference between paidTime and dueTime in days.",
              "readOnly": true
            },
            "collectionPeriod": {
              "type": "integer",
              "description": "Collection period - difference between paidTime and issuedTime in days.",
              "readOnly": true
            },
            "paymentFormUrl": {
              "type": "string",
              "readOnly": true,
              "description": "URL where the customer can be redirected to pay for the invoice\nwith one of the methods which are available for this customer.\nIt's an alternative to creating a new transaction with empty `methods`.\n"
            },
            "abandonedTime": {
              "description": "Invoice abandoned time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "voidedTime": {
              "description": "Invoice voided time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "paidTime": {
              "description": "Invoice paid time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "dueTime": {
              "description": "Invoice due time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "issuedTime": {
              "description": "Invoice issued time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "createdTime": {
              "description": "Invoice created time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "updatedTime": {
              "description": "Invoice updated time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            }
          }
        },
        "ThreeDSecureResult": {
          "type": "object",
          "readOnly": true,
          "required": [
            "enrolled",
            "authenticated",
            "liability",
            "isDowngraded"
          ],
          "properties": {
            "version": {
              "description": "3D Secure version.",
              "type": "string",
              "enum": [
                "1.0.2",
                "2.1.0",
                "2.2.0"
              ]
            },
            "enrolled": {
              "description": "Is the cardholder enrolled in 3D Secure.",
              "type": "string",
              "enum": [
                "yes",
                "no",
                "invalid card/timeout",
                "unavailable"
              ]
            },
            "authenticated": {
              "description": "3D Secure authentication response status.",
              "type": "string",
              "enum": [
                "yes",
                "no",
                "not applicable",
                "attempted"
              ]
            },
            "liability": {
              "type": "string",
              "enum": [
                "protected",
                "not protected",
                "protected (attempt)"
              ]
            },
            "flow": {
              "description": "3D Secure 2 authentication flow.",
              "type": "string",
              "enum": [
                "frictionless",
                "challenge"
              ]
            },
            "isDowngraded": {
              "description": "If 3D Secure 2 was attempted but downgraded to 3D Secure 1.",
              "type": "boolean",
              "default": false
            }
          }
        },
        "GatewayName": {
          "description": "The payment gateway name.",
          "type": "string",
          "enum": [
            "A1Gateway",
            "Adyen",
            "Airpay",
            "AmexVPC",
            "APAR",
            "ApcoPay",
            "AsiaPaymentGateway",
            "AstroPayCard",
            "AuthorizeNet",
            "Bambora",
            "BitPay",
            "BlueSnap",
            "BraintreePayments",
            "Cardknox",
            "Cashflows",
            "CASHlib",
            "CashToCode",
            "CauriPayment",
            "Cayan",
            "CCAvenue",
            "Chase",
            "Circle",
            "Citadel",
            "Clearhaus",
            "CODVoucher",
            "CoinPayments",
            "Conekta",
            "Coppr",
            "Credorax",
            "Cryptonator",
            "CyberSource",
            "DataCash",
            "Dengi",
            "Dragonphoenix",
            "Directa24",
            "dLocal",
            "EBANX",
            "ecoPayz",
            "EcorePay",
            "Elavon",
            "Euteller",
            "eMerchantPay",
            "EMS",
            "EPG",
            "EPro",
            "eZeeWallet",
            "Finrax",
            "Flexepin",
            "FinTecSystems",
            "FundSend",
            "Forte",
            "GET",
            "Gigadat",
            "GlobalOnePay",
            "Gooney",
            "Gpaysafe",
            "Greenbox",
            "HiPay",
            "iCanPay",
            "ICEPAY",
            "iCheque",
            "iDebit",
            "Ilixium",
            "Ingenico",
            "INOVAPAY",
            "Inovio",
            "Intuit",
            "InstaDebit",
            "IpayOptions",
            "JetPay",
            "Jeton",
            "Khelocard",
            "Konnektive",
            "LPG",
            "Moneris",
            "MtaPay",
            "MuchBetter",
            "MyFatoorah",
            "Neosurf",
            "Netbanking",
            "Neteller",
            "NGenius",
            "NinjaWallet",
            "NMI",
            "NuaPay",
            "OchaPay",
            "Onlineueberweisen",
            "Pagsmile",
            "Panamerican",
            "ParamountEft",
            "ParamountInterac",
            "PandaGateway",
            "Pay4Fun",
            "PayCash",
            "Payeezy",
            "Payflow",
            "PaymenTechnologies",
            "PaymentsOS",
            "Paymero",
            "PayPal",
            "Payr",
            "Paysafe",
            "Paysafecash",
            "PayTabs",
            "PayULatam",
            "Payvision",
            "Piastrix",
            "Plugnpay",
            "Prosa",
            "Realex",
            "Realtime",
            "Redsys",
            "Rotessa",
            "RPN",
            "SaltarPay",
            "Sagepay",
            "SeamlessChex",
            "SecureTrading",
            "Skrill",
            "SmartInvoice",
            "SMSVoucher",
            "Sofort",
            "SparkPay",
            "StaticGateway",
            "Stripe",
            "TestProcessor",
            "ToditoCash",
            "TrustPay",
            "TrustsPay",
            "Trustly",
            "TWINT",
            "UPayCard",
            "USAePay",
            "VantivLitle",
            "vegaaH",
            "VCreditos",
            "Wallet88",
            "Walpay",
            "Wirecard",
            "WorldlineAtosFrankfurt",
            "Worldpay",
            "Zimpler",
            "Zotapay"
          ]
        },
        "CommonTransaction": {
          "type": "object",
          "properties": {
            "id": {
              "description": "The transaction ID.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "websiteId": {
              "description": "The website ID.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "customerId": {
              "description": "The сustomer's ID.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "type": {
              "description": "Transaction type.",
              "type": "string",
              "readOnly": true,
              "enum": [
                "3ds-authentication",
                "authorize",
                "capture",
                "credit",
                "refund",
                "sale",
                "void"
              ]
            },
            "status": {
              "description": "Transaction status.",
              "type": "string",
              "readOnly": true,
              "enum": [
                "completed",
                "conn-error",
                "disputed",
                "never-sent",
                "offsite",
                "partially-refunded",
                "pending",
                "refunded",
                "sending",
                "suspended",
                "timeout",
                "voided",
                "waiting-approval",
                "waiting-capture",
                "waiting-gateway",
                "waiting-refund"
              ]
            },
            "result": {
              "description": "Transaction result.",
              "type": "string",
              "readOnly": true,
              "enum": [
                "abandoned",
                "approved",
                "canceled",
                "declined",
                "unknown"
              ]
            },
            "amount": {
              "description": "The transaction's amount.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "currency": {
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/CurrencyCode"
                }
              ]
            },
            "purchaseAmount": {
              "description": "The amount actually purchased which may have differed from the originally requested amount in case of an adjustment.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "purchaseCurrency": {
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/CurrencyCode"
                }
              ]
            },
            "requestAmount": {
              "description": "The amount in the payment request. If adjusted, the purchase amount and billing amount may vary from it.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "requestCurrency": {
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/CurrencyCode"
                }
              ]
            },
            "parentTransactionId": {
              "description": "The parent's transaction ID.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ],
              "readOnly": true
            },
            "childTransactions": {
              "description": "The child transaction IDs.",
              "readOnly": true,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ResourceId"
              }
            },
            "invoiceIds": {
              "description": "The invoice IDs related to transaction.",
              "readOnly": true,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ResourceId"
              }
            },
            "subscriptionIds": {
              "description": "The orders IDs related to transaction's invoice(s).",
              "readOnly": true,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ResourceId"
              }
            },
            "planIds": {
              "description": "The plan IDs related to transaction's order(s).",
              "readOnly": true,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ResourceId"
              }
            },
            "isRebill": {
              "type": "boolean",
              "readOnly": true
            },
            "rebillNumber": {
              "description": "The transaction's rebill number.",
              "type": "integer",
              "readOnly": true
            },
            "paymentInstrument": {
              "$ref": "#/components/schemas/PaymentInstrumentReference"
            },
            "billingAddress": {
              "description": "Billing address.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ContactObject"
                }
              ]
            },
            "has3ds": {
              "type": "boolean",
              "readOnly": true
            },
            "3ds": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ThreeDSecureResult"
                }
              ]
            },
            "redirectUrl": {
              "description": "The URL to redirect the end-user when an offsite transaction is completed. Defaults to the website's configured URL.",
              "type": "string",
              "format": "uri"
            },
            "retryNumber": {
              "type": "integer",
              "readOnly": true,
              "description": "The position in the sequence of retries."
            },
            "isRetry": {
              "type": "boolean",
              "readOnly": true,
              "description": "True if this transaction is retry."
            },
            "billingDescriptor": {
              "type": "string",
              "readOnly": true,
              "description": "The billing descriptor that appears on the periodic billing statement. Commonly\n12 or fewer characters for a credit card statement.\n"
            },
            "description": {
              "type": "string",
              "description": "The payment description.",
              "maxLength": 255
            },
            "requestId": {
              "description": "The transaction's request ID.  This ID must be unique within a 24 hour period. Use this field to prevent duplicated transactions.",
              "type": "string"
            },
            "hasAmountAdjustment": {
              "description": "True if transaction has amount adjustment.",
              "type": "boolean",
              "readOnly": true
            },
            "gatewayName": {
              "readOnly": true,
              "description": "Payment Gateway name, available only after the gateway is selected for the transaction.\n",
              "allOf": [
                {
                  "$ref": "#/components/schemas/GatewayName"
                }
              ]
            },
            "customFields": {
              "$ref": "#/components/schemas/ResourceCustomFields"
            },
            "processedTime": {
              "description": "Transaction processed time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "createdTime": {
              "description": "Transaction created time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "updatedTime": {
              "description": "Transaction updated time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            }
          }
        },
        "ApprovalUrlLink": {
          "type": "object",
          "allOf": [
            {
              "$ref": "#/components/schemas/Link"
            }
          ],
          "properties": {
            "rel": {
              "description": "The link type.",
              "type": "string",
              "enum": [
                "approvalUrl"
              ]
            }
          },
          "required": [
            "rel"
          ]
        },
        "CancelUrlLink": {
          "type": "object",
          "allOf": [
            {
              "$ref": "#/components/schemas/Link"
            }
          ],
          "properties": {
            "rel": {
              "description": "The link type.",
              "type": "string",
              "enum": [
                "cancelUrl"
              ]
            }
          },
          "required": [
            "rel"
          ]
        },
        "StorefrontTransaction": {
          "allOf": [
            {
              "$ref": "#/components/schemas/CommonTransaction"
            },
            {
              "properties": {
                "approvalUrl": {
                  "description": "The URL to redirect the end-customer when transaction `status` is `waiting-approval` or `offsite`.",
                  "type": "string",
                  "format": "uri"
                },
                "_links": {
                  "type": "array",
                  "description": "The links related to resource.",
                  "readOnly": true,
                  "minItems": 1,
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/SelfLink"
                      },
                      {
                        "$ref": "#/components/schemas/ApprovalUrlLink"
                      },
                      {
                        "$ref": "#/components/schemas/CancelUrlLink"
                      }
                    ]
                  }
                }
              }
            }
          ]
        },
        "StorefrontInvoice": {
          "allOf": [
            {
              "$ref": "#/components/schemas/CommonInvoice"
            },
            {
              "properties": {
                "transactions": {
                  "type": "array",
                  "description": "Invoice transactions array.",
                  "readOnly": true,
                  "items": {
                    "$ref": "#/components/schemas/StorefrontTransaction"
                  }
                },
                "_links": {
                  "type": "array",
                  "description": "The links related to resource.",
                  "readOnly": true,
                  "minItems": 1,
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/SelfLink"
                      }
                    ]
                  }
                }
              }
            }
          ]
        },
        "KycDocumentRejection": {
          "type": "object",
          "readOnly": true,
          "properties": {
            "type": {
              "type": "string",
              "enum": [
                "document-unreadable",
                "document-expired",
                "document-not-matching",
                "underage-person",
                "other"
              ]
            },
            "message": {
              "description": "The rejection message.",
              "type": "string",
              "example": "Provided document is unreadable"
            }
          }
        },
        "CommonKycDocument": {
          "type": "object",
          "required": [
            "customerId",
            "documentType",
            "status"
          ],
          "properties": {
            "id": {
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "customerId": {
              "description": "The сustomer's ID.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "fileId": {
              "deprecated": true,
              "description": "Linked file object id.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "fileIds": {
              "description": "Linked file object id's.",
              "type": "array",
              "items": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ResourceId"
                  }
                ]
              }
            },
            "documentType": {
              "description": "Document type submitted for validation, only identity-proof type is analyzed in an automated manner.",
              "type": "string",
              "enum": [
                "identity-proof",
                "address-proof",
                "funds-proof",
                "purchase-proof"
              ]
            },
            "documentSubtype": {
              "description": "Document subtype submitted for validation.",
              "type": "string",
              "enum": [
                "passport",
                "id-card",
                "driver-license",
                "utility-bill",
                "rental-receipt",
                "lease-agreement",
                "copy-credit-card",
                "credit-card-statement",
                "bank-statement",
                "inheritance-documentation",
                "tax-return",
                "salary-slip",
                "sale-of-assets"
              ]
            },
            "matchLevel": {
              "description": "The level of strictness for the document matches.",
              "type": "integer",
              "minimum": 1,
              "maximum": 2,
              "example": 2
            },
            "status": {
              "description": "Status of the validation.",
              "type": "string",
              "readOnly": true,
              "enum": [
                "pending",
                "in-progress",
                "accepted",
                "rejected"
              ]
            },
            "reason": {
              "description": "Reason for uploading.",
              "type": "string"
            },
            "rejectionReason": {
              "$ref": "#/components/schemas/KycDocumentRejection"
            },
            "createdTime": {
              "description": "Creation date/time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "updatedTime": {
              "description": "Latest update date/time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "processedTime": {
              "description": "Processing date/time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "reviewerId": {
              "description": "Reviewer's user ID.",
              "type": "string",
              "nullable": true,
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            },
            "reviewerName": {
              "description": "Reviewer's first and last name.",
              "type": "string",
              "nullable": true,
              "readOnly": true
            },
            "reviewTime": {
              "description": "Date and time of manual review.",
              "nullable": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            }
          }
        },
        "StorefrontKycDocument": {
          "allOf": [
            {
              "$ref": "#/components/schemas/CommonKycDocument"
            },
            {
              "properties": {
                "_links": {
                  "type": "array",
                  "description": "The links related to resource.",
                  "readOnly": true,
                  "minItems": 1,
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/SelfLink"
                      }
                    ]
                  }
                }
              }
            }
          ]
        },
        "CustomerJWT": {
          "type": "object",
          "properties": {
            "id": {
              "description": "The session ID.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ],
              "readOnly": true
            },
            "token": {
              "description": "The session's token used for authentication.",
              "type": "string",
              "readOnly": true
            },
            "createdTime": {
              "description": "Session created time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "updatedTime": {
              "description": "Session updated time.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServerTimestamp"
                }
              ]
            },
            "expiredTime": {
              "description": "Session expired time. Defaults to one hour.",
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "PaymentInstructionsToken": {
          "type": "object",
          "title": "Payment Token",
          "required": [
            "token"
          ],
          "properties": {
            "token": {
              "description": "Payment token ID.",
              "type": "string"
            }
          }
        },
        "PaymentInstructionsInstrument": {
          "type": "object",
          "title": "Payment Instrument",
          "required": [
            "paymentInstrumentId"
          ],
          "properties": {
            "paymentInstrumentId": {
              "description": "The Payment Instrument ID.",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResourceId"
                }
              ]
            }
          }
        },
        "HttpHeaders": {
          "type": "object",
          "description": "The HTTP headers.",
          "additionalProperties": {
            "type": "string"
          },
          "example": {
            "Content-Type": "application/json",
            "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
          }
        },
        "BrowserData": {
          "type": "object",
          "title": "Browser data",
          "description": "Browser data used for 3DS and risk scoring.",
          "required": [
            "colorDepth",
            "isJavaEnabled",
            "language",
            "screenWidth",
            "screenHeight",
            "timeZoneOffset"
          ],
          "properties": {
            "colorDepth": {
              "description": "The browser's color depth in bits per pixel obtained using the `screen.colorDepth` property.",
              "type": "integer",
              "minimum": 1,
              "maximum": 48,
              "example": 24
            },
            "isJavaEnabled": {
              "description": "Whether Java is enabled in a browser or not. Value is returned from the `navigator.javaEnabled` property.",
              "type": "boolean"
            },
            "language": {
              "description": "The browser's language settings returned from the `navigator.language` property.",
              "type": "string",
              "example": "en-US",
              "maxLength": 8
            },
            "screenWidth": {
              "description": "The browser's screen width returned from the `screen.width` property.",
              "type": "integer",
              "minimum": 0,
              "maximum": 65535,
              "example": 1920
            },
            "screenHeight": {
              "description": "The browser's screen height returned from the `screen.height` property.",
              "type": "integer",
              "minimum": 0,
              "maximum": 65535,
              "example": 1080
            },
            "timeZoneOffset": {
              "description": "The browser's time zone offset in minutes from UTC.\nA positive offset indicates the local time is behind UTC, and negative is ahead.\nCan find it with `(new Date()).getTimezoneOffset()` property.\n",
              "type": "integer",
              "minimum": -1410,
              "maximum": 1410,
              "example": 300
            }
          }
        },
        "RiskMetadata": {
          "type": "object",
          "title": "Risk metadata",
          "description": "Risk metadata used for 3DS and risk scoring.",
          "properties": {
            "ipAddress": {
              "description": "The customer's IP.",
              "type": "string",
              "format": "ipv4 or ipv6",
              "example": "93.92.91.90"
            },
            "fingerprint": {
              "description": "The fingerprint.",
              "type": "string",
              "maxLength": 50,
              "example": "pIUt3xbgX3l9g3YDiLbx"
            },
            "httpHeaders": {
              "$ref": "#/components/schemas/HttpHeaders"
            },
            "browserData": {
              "$ref": "#/components/schemas/BrowserData"
            },
            "isProxy": {
              "description": "True if customer's ip address is related to proxy.",
              "type": "boolean",
              "readOnly": true
            },
            "isVpn": {
              "description": "True if customer's ip address is related to VPN.",
              "type": "boolean",
              "readOnly": true
            },
            "isTor": {
              "description": "True if customer's ip address is related to TOR.",
              "type": "boolean",
              "readOnly": true
            },
            "isHosting": {
              "description": "True if customer's ip address is related to hosting.",
              "type": "boolean",
              "readOnly": true
            },
            "vpnServiceName": {
              "description": "VPN service name, if available.",
              "type": "string",
              "readOnly": true
            },
            "isp": {
              "description": "Internet Service Provider name, if available.",
              "type": "string",
              "readOnly": true
            },
            "country": {
              "description": "Country ISO Alpha-2 code for specified ipAddress.",
              "maxLength": 2,
              "type": "string",
              "readOnly": true,
              "example": "US"
            },
            "region": {
              "description": "Region for specified ipAddress.",
              "type": "string",
              "readOnly": true,
              "example": "NY"
            },
            "city": {
              "description": "City for specified ipAddress.",
              "type": "string",
              "readOnly": true,
              "example": "New York"
            },
            "latitude": {
              "description": "Latitude for specified ipAddress.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "longitude": {
              "description": "Longitude for specified ipAddress.",
              "type": "number",
              "format": "double",
              "readOnly": true
            },
            "postalCode": {
              "description": "Postal code for specified ipAddress.",
              "type": "string",
              "maxLength": 10,
              "readOnly": true
            },
            "timeZone": {
              "description": "Time zone for specified ipAddress.",
              "type": "string",
              "readOnly": true,
              "example": "America/New_York"
            },
            "accuracyRadius": {
              "description": "Accuracy radius for specified ipAddress (kilometers).",
              "type": "integer",
              "readOnly": true
            },
            "distance": {
              "description": "Distance between IP Address and Billing Address geolocation (kilometers).",
              "type": "integer",
              "readOnly": true
            },
            "hasMismatchedBillingAddressCountry": {
              "description": "True if the billing address country and geo-IP address are not the same.",
              "type": "boolean",
              "readOnly": true
            },
            "hasMismatchedBankCountry": {
              "description": "True if the bank country and geo-IP address are not the same.",
              "type": "boolean",
              "readOnly": true
            },
            "hasMismatchedTimeZone": {
              "description": "True if the browser time zone and IP address associated time zone are not the same.",
              "type": "boolean",
              "readOnly": true
            },
            "hasMismatchedHolderName": {
[...]
